<% provide(:title, 'Burlan') %>
<h1>Burlan</h1>
<p>1 марта 2016 года всем, кто нас слышит, рекомендуется положить в карман, в сумку либо прикрепить к одежде, как орден, небольшой предмет — скрепку, булавку, брошку…</p>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p>Посмотрите с этой точки зрения на “преграду” - и Вам не захочется с ней воевать, воздействовать на нее, менять ее характер. Изменив свое отношение к ней, Вы создадите вокруг себя пространство, в котором ситуация, вызывающая у Вас озабоченность, изменится сама по себе. Мастер шутит с вашей личностью, играет с ней. С какой целью? Думается, с единственной: чтобы личность увидела бесперспективность своего участия в игре, вышла из нее, восстановила в себе его, Мастера.</p>
<p>Подумайте сами, Мария. Вы шли себе по дорожке, и вдруг на пути возникло препятствие... Кто его породил? Конечно же, Ваша собственная природа, сидящий у Вас внутри Мастер. Личность в проявлении Мастера не участвует, но Мастер проявляется через личность (так же, как через и другие структуры) как через проводника. В том числе и через “опыт и специфичность” личности. Если мы занимаемся своими или чужими проблемами, уделяем им какое- то время, - мы укрепляем их, усиливаем... Сам факт, что мы “оживаем”, начинаем что-то предпринимать только тогда, когда перед нами вырастает стена, - однозначно делает нас зависимыми от таких стен. Вот он выставил перед Вами мельницу для того, чтобы Вы рассмотрели ее и не приняли ненароком ее за рыцаря. Вы же всерьез уговариваете эту мельницу понюхать свой носок... Посмотрите с этой точки зрения на “преграду” - и Вам не захочется с ней воевать, воздействовать на нее, менять ее характер. Изменив свое отношение к ней, Вы создадите вокруг себя пространство, в котором ситуация, вызывающая у Вас озабоченность, изменится сама по себе.</p> 
<p>С точки зрения Мастера личность - лишь один из атрибутов нашей повседневной игры, ничем принципиально не выделяющийся среди других атрибутов. Поэтому любая постановка личности во главе угла - продолжение игры. Если мы включаемся в это продолжение, тогда - да, можно говорить об “оружии” и “защите” от него. В этом случае не имеет значения “жанр” игры - шахматы, карты, домино... Некоторые декоративные отличия в правилах лишь подтверждают сам факт “сражения”, где обязательно должны быть победители и пораженные. Симорон с этими тенденциями не имеет ничего общего.</p>
<p>Но система ведь призывает не к самообману, а наоборот. Посмотрите с этой точки зрения на “преграду” - и Вам не захочется с ней воевать, воздействовать на нее, менять ее характер. Изменив свое отношение к ней, Вы создадите вокруг себя пространство, в котором ситуация, вызывающая у Вас озабоченность, изменится сама по себе. Именно поэтому мы и не предлагаем представить себе такое явление как Мастер в неких декорациях. Мы отсекаем все, что скрывает внутри у нас Мастера (понятия, чувства, ощущения) и обнаруживаем в себе оного по тому же принципу, по которому скульптор обнаруживает неведомую и невидимую Венеру в глыбе мрамора. Светлана, в своих отношениях с миром Вы отталкиваетесь от себя- игрока: “мне активно не нравится”, “заставляю себя” и т.п. С этой точки зрения Вы убедительно рисуете типовые несуразицы, с которыми встречается игрок в попытке сделать вид, что стены перед ним нет. Да, согласиться с тем, что пол сломан, это не значит - починить его. Но система ведь призывает не к самообману, а наоборот. Примерьтесь к роли Мастера. Для него и личность Ваша, и все другие личности, и все вообще предметы и явления - лишь театральные костюмы, которые можно надевать и сбрасывать, заменяя другими. Включая его в себе, Вы раз и навсегда прекращаете состязание с окружающим миром, и описанные Вами противоречия теряют смысл. Если мы занимаемся своими или чужими проблемами, уделяем им какое- то время, - мы укрепляем их, усиливаем... Сам факт, что мы “оживаем”, начинаем что-то предпринимать только тогда, когда перед нами вырастает стена, - однозначно делает нас зависимыми от таких стен. Поэтому то, что случилось с Вами, - закономерно. Симорон включает в человеке процесс жизнетворения вне связи с тем, в каком болоте он в данный момент завяз. И человек не только запросто выходит из этого болота, не предпринимая никаких усилий, но и отучается вообще попадать в трясину...</p>
<p>Радость, удовольствие от постижения мира, каким бы он ни был — серым, тусклым или радужным, злым или добрым, - свойство здоровой, не искалеченной психики. Или исцеляющейся.</p>
<p>Речь, слово - это всего-навсего символы для обозначения вот тех вот принципов, тех стандартов, для того, чтобы не запутаться друг с другом. Это способ соприкасаться друг с другом, больше ничего. И когда мы начинаем это обозначать - вот тут мы и запутываемся, тут конец нашей жизни. Мы начинаем только обозначать, все уходит в слова, в выяснение сути, а сути на самом деле - нет, мы просто играем словами. И эта игра фраз - вымучивает человека на первом этапе.</p>