<% provide(:title, 'Gegel') %>
<h1>February App</h1>
<h2>Гегель</h2>
<h2>StaticPages#gegel</h2>
<p>Find me in app/views/static_pages/gegel.html.erb</p>
<p>Бытие Ничто</p>
<p>Становление как беспокойное единство моментов Прехождения и Возникновения</p>
<p>Отрицание беспокойного единства - спокойная простота</p>
<p>Наличное бытие - результат снятия становления</p>
<p>В наличном бытии есть становление - бытие - налицо, а не налицо - небытие</p>
<p>Человек, в руках ручка. Ручка - это Вы? - нет. - Значит, это Ваше отрицание, не-Вы, Ваше небытие, принятое в быттие так, что конкретное целое имеет форму Вас - это Ваша определенность.</p>
<p>То, что является небытием Х в Х - есть определенность Х.</p>
<p>Опрелеленность, взятая изолированно, сама по себе - есть качество.</p>
<p>Качество взятое как бытие - есть реальность. (Умный)</p>
<p>Качество взятое как небытие отрицание. (Не дурак)</p>
<p>Результат снятия различия между наличным бытием, реальностью и отрицанием - есть определенное наличное бытие - налично-сущее - нечто</p>
<p>Нечто есть в себе становление, в нечто есть 2 противоположных момента</p>
<p>Раз изменяется - то остается</p>
<p>Нечто изменяется: равенство с собой (в-себе-бытие) и неравенство с собой (бытие-для-иного)</p>
<p>В нечто есть момент равенства с собой (в-себе-бытие) и момент неравенства с собой (бытие-для-иного)</p>
<p>Как называется в-себе-бытие, которое отрицает свое отрицание в себе?</p>
<p>Момент равенства с собой через отрицание своего бытия-для-иного - есть в-себе-бытие</p>
<p>Человек, отрицание Вашего отрицания, через отрицание своего бытия-для-иного, борьба в себе со своим отрицанием (со своим переходом в иное)</p>
<p>в-себе-бытие как отрицание своего бытия-для-иного - есть в-нем-бытие</p>
<p>Без этого нельзя понять, что такое определение</p>
<p>Берем качество, которое сохраняется, которое есть в себе и сущностно находится в единствес другим моментом этого нечто.</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>

