<h1>Евгений Головин</h1>
<ul>
			<li><p>Как вы помните, король дипсодов (пьяниц) Пантагрюэль, подарил брату Жану Телемскую обитель, на которой была надпись: ”Делай что хочешь”.</p></li>
			<li><p>У Рембо сказано так: ”Я хочу быть поэтом и работаю, чтобы им стать”. Другими словами: ”Я хочу быть магом и работаю, чтобы им стать”. </p></li>
			<li><p>Я упоминал о фразе Гете: ”Правильно то, что тебе соответствует”, и вторая фраза: ”Делай что хочешь”. В чем секрет фразы “делай что хочешь”? В том, что мы не знаем, чего хотим.</p></li>
			<li><p>Нам внушали, что человек греховен, что человек ленив и, безусловно, нуждается в исправлении и воспитании. </p></li>
			<li><p>Более того, с детства нас убеждали, что сами мы не можем удовлетворить свои духовные и материальные потребности, что кто-то должен прийти и сказать нам о религии, кто-то должен внедрить общее мировоззрение, кто-то должен дать образование и работу, обеспечить и развлечь.</p></li>
			<li><p>Считается, что сам человек этого сделать не может. Нас воспитывают и дрессируют, как собак и лошадей, нравится нам это или нет. Что касается религии, то сейчас у всех нас есть одна религия, так как социум стал коллективным механическим богом.</p></li>
			<li><p>В обычных книгах по оккультизму активный принцип связывают с мужским началом, пассивный - с женским, что в корне не верно. Активный принцип существует сам по себе, и пассивный - сам по себе. Женщина или мужчина может одинаково попадать и под тот и под другой принцип.</p></li>
			<li><p>Активный принцип здесь соответствует Востоку (в том числе и в чисто географическом смысле), материя - Западу, мужчина - Северу, женщина - Югу. </p></li>
			<li><p>Теперь вспомним, что форма, активное начало находится на Востоке, пассивное начало, материя - на Западе, женщина тяготеет к Югу, мужчина - к Северу. Эта ориентация имеет самое непосредственное отношение к тому, что в алхимии называется “сухим” и “влажным” путями.</p></li>
			<li><p> для контраста сначала несколько слов о “сухом”. Помочь нам здесь может книга Жюля Верна “Приключения капитана Гаттераса”. Капитан Гаттерас - живая магнитная стрелка, неуклонно стремящаяся к Северному полюсу.</p></li>
			<li><p>Его мужское начало неудержимо тянет его на Север. Что он находит на Северном полюсе? Вулкан, пылающий странным золотистым огнем. От этого огня расцветает море, и необычайная жизненная сила разлита в атмосфере. </p></li>
			<li><p>На прошлой лекции я цитировал Филалета: ”В полюсе спит сердце Меркурия, которое есть истинный огонь”. </p></li>
			<li><p>С огнем мы встречаемся и в книге Жюля Верна. Этот огонь - бесконечное извержение золотой спермы. А вулкан на Северном полюсе - это фаллический центр мира в алхимическом понимании космогонии. </p></li>
			<li><p>Теперь о влажном пути. Это путь к Югу. Чисто женский путь. Если говорить о занятиях алхимией, то это путь медленного изучения материала и в то же время - путь абсолютного отчаяния. Люди, которые устремляются по влажному пути ничего не надеются найти.</p></li>
			<li><p>Что такое, в сущности, “влажный” путь? Это путь погружения в мать-природу, в матку. </p></li>
			<li><p>Возможно, вы читали единственный роман Эдгара По “Сообщение Артура Гордона Пина”. Я не знаю в художественной литературе лучшего изображения “влажного” пути. </p></li>
			<li><p>Герои же Эдгара По оказались втроем на полузатопленном корабле в Южном полушарии. У них нет никаких запасов, нет еды, нет ничего. Они обречены на медленную смерть. Это в алхимии называется либо "философским инцестом", либо "растворением в женском начале". </p></li>
			<li><p>Это первая операция во влажном пути: называется она "путрефакция" или "гниение".</p></li>
			<li><p> Оказывается, это остров Отчаяния, открытый когда-то Куком.</p></li>
			<li><p>Эдгар По очень точен: остров находится на южной широте, градусов шестьдесят пять - шестьдесят шесть. Практически уже Антарктида. Здесь есть странный ручей: туземцы ножом отрезают кусок воды, едят его. В ручье остается след от ножа.</p></li>
			<li><p>Это естественная алхимическая аллюзия: вода, которая не смачивает рук - одно из названий живого Меркурия.</p></li>
			<li><p>Финал романа уникален - это финал произведения в белом, то, что называется в алхимии белым магистерием. </p></li>
			<li><p>Герои романа на лодке подплывают к бездне, это практически Южный полюс, лодку неудержимо тянет в эту бездну. Любопытно, что из совершенно чистого неба на них падает дождь белого пепла. Это не снег, это пепел. </p></li>
			<li><p> Пепел, который не растворяется в воде, и если растворяется, то очень тяжело.</p></li>
			<li><p>Вдруг из этой бездны встает огромная человеческая фигура в саване. Вот последняя строка романа: ”...ее кожа отличалась абсолютной белизной снега, а вокруг летали гигантские, мертвенно-белые птицы и кричали “текели ли”, “текели ли”. </p></li>
			<li><p>Путешественники приблизились к тому, что можно назвать Снежной Королевой. Как вы понимаете, первая встреча со Снежной Королевой не отличается особой радостью. Но, с другой стороны, мы не можем утверждать, что эта огромная фигура, кожа которой была снежной белизны, на самом деле, смерть.</p></li>
			<li><p>Она - нечто, что поднимается из Южного полюса. Итак, Северный полюс являет собой вулкан, а Южный - бездну. </p></li>
			<li><p>Очень любопытное слово кричали мертвенно белые птицы. “Текели ли”. Это слово есть почти во всех языках. Древнеримский географ Помпоний Мелла назвал материк в Южном полушарии Текеле </p></li>
			<li><p>Таким образом, герои По приплыли к тому, что античные, а затем и арабские географы, называли противоземлей, контрземлей. Уже в XV и XVI веке та Антарктида, которую мы привыкли видеть, являлась лишь северной оконечностью огромного материка Текеле. </p></li>
			<li><p>Вспомним фразу Парацельса о "философском инцесте". Это погружение в центр абсолютной смерти, который является, в сущности, центром матери-природы. И мы должны принять на веру, что дальше в точке абсолютной смерти начинается жизнь, и она тоже белого цвета.</p></li>
			<li><p>В алхимии это называется “переход от Матери-земли к Даме-натуре”.</p></li>
			<li><p>Вот что у Жераля де Нерваля сказано как раз о Даме-натуре: ”Дама, за которой я следовал. Ее движения плавные и стремительные вибрировали переливчатой тафтой платья, в руках кружил высокий стебель белой розы. </p></li>
			<li><p>Она расплывалась в пространстве сада и мало-помалу травы и цветы превращались в узоры ее платья, а руки и силуэт тела отразились в контурах пурпурных облаков. Я потерял из вида прихотливость ее трансформации, она, казалось, растворилась в собственном величии. И затем я увидел выщербленную статую у старой стены - это была она”.</p></li>
			<li><p>Именно сегодня, сейчас, чего скрывать, ясно, что мы живем в практическом матриархате. И это не значит только господство женщин, это значит господство материального мира как такового. Дионис</p></li>
			<li><p>полное  исчезновение мужского начала в его героическом измерении</p></li>
			<li><p>рыцарская культура</p></li>
			<li><p>Чем отличается героическое мужское начало от всякого другого? Оно отличается тем, что между героем и всем, что его окружает, присутствует определенная дистанция, в особенности, между героем и его возлюбленной.</p></li>
			<li><p>И заметьте, очень точный конец этого обозначен в романе Сервантеса «Дон Кихот». Это очень любопытно: это жалостный конец мужчины в героическом понимании.</p></li>
			<li><p>Заметьте, что в XVI-XVII веках, а в XVIII в. особенно, началась трансформация,  диссолюция, нет, пожалуй, даже не диссолюция, а инволюция рыцаря в «джентльмена», </p></li>
			<li><p>хотя в современную эпоху столь низкое существо как джентльмен кажется весьма высоким, что совершенно поразительно. </p></li>
			<li><p>то есть последняя степень падения героя-мужчины в нашу эпоху считается чуть ли ни образцом.</p></li>
			<li><p>Как я уже говорил, явление теофании Диониса возбудило ненависть так называемых «Богинь», «Великих Матерей».</p></li>
			<li><p>И если можно сказать, что герой-мужчина обладает фаллосом, то у джентльмена и буржуа есть пенис, то есть мужской член, который целиком и полностью повинуется женской прихоти.</p></li>
			<li><p>Когда рыцарь превратился в джентльмена, еще был момент перехода от условного патриархата к начинающемуся матриархату.</p></li>
			<li><p>Вместе с «ewige Weiblichkeit» (т.е. «вечная женственность») в немецком романтизме появился замечательный лозунг или девиз – «Auflosende Weiblichkeit» (т.е. «растворяющая женственность»). </p></li>
			<li><p>Уже в XIX век появилась идея, что женщина есть смертельное для мужчины начало, что женщина растворяет мужскую инициативу, точно так же, как в половом акте она растворяет возбужденный пенис.</p></li>
			<li><p>Буффон, клоун – заметьте, это прямой наследник рыцарей и Дон Кихота. Вот что клоун такое – это оплеванное героическое мужское начало.</p></li>
			<li><p>социум дошел до такой степени, что жить в нем просто нельзя, что человеку необходимо культивировать собственную индивидуальность</p></li>
			<li><p>Существует ряд понятий, введенных схоластами и затем очень интересно осмысленных Николаем Кузанским. Он пишет, что материю производит «форма формирующая» и «форма информирующая», «forma formante» и «forma informante». </p></li>
			<li><p>«Форма формирующая» -- это форма, которая внутри нас, которая растет в нашей душе  наперекор всему. Нравимся ли мы окружающей среде или не нравимся, но она растет, и она не может не расти, она погибает, но она остается.</p></li>
			<li><p>И вторая форма -- это «форма информирующая». Это то, что из нас делает наша жизнь, то, как мы меняемся, и то, во что мы превращаемся. Это -- второе гибельное, смертельное  начало, которое называется «форма информирующая»</p></li>
			<li><p>фрагмент Новалиса: «Не в нас ли эта Вселенная? Нам кажется, там, в глубине, темно и одиноко,  но когда пройдет это затмение, будет иное, совершенно иное…»</p></li>
			<li><p>Потому что, считалось, тело может мешать интеллектуально-небесной душе двигаться по своему пути, но тело нельзя принуждать к чему-то (посты, аскетизм, бичевание)</p></li>
			<li><p>именно потому, что тем самым интеллектуально-небесная душа «вооружит» против себя душу вегетативно-анимальную. Телесные инстинкты очень сильны, и поэтому гораздо проще их удовлетворить, чем препятствовать их проявлению.</p></li>
			<li><p>по орфической теогонии, когда титаны сожрали Диониса, Зевс убил титанов молнией, и из этого пепла родились люди. На этом основана дионисийская мистика. </p></li>
			<li><p>Получается, что в нас во всех есть частица бога, бога съеденного, но, тем не менее, как говорит Бахофен, на девять десятых у нас плоть титанов, то есть, вот эта жалкая, земная плоть, и на одну десятую есть частица божественного тела.</p></li>
			<li><p>пенис — это то, что подчиняется женской крови, женскому началу, это то, что лишает мужчину центра, это то, что делает из мужчины как целого часть другого целого. Именно поэтому, с точки зрения Диониса, это «не есть хорошо».</p></li>
			<li><p>Вот откуда ненависть женских богинь. Потому что в оргиастических мистериях, в разных своих культах Дионис «отучал», если можно так сказать, людей от пениса, приучая их к фаллицизму.</p></li>
			<li><p>В чем, собственно, сущность дионисийской мистерии? В том, чтобы освободить женщину и мужчину от рабства Приапа, от земли, бесконечной смены рождений и метаморфоз. </p></li>
			<li><p>В этом смысле Дионис является врагом женских богинь и Луны, врагом абсолютным.</p></li>
			<li><p>Потому что для матриархата, для женского начала мужчина является не более, чем инструментом, он просто «сооткрыватель дверей рождения». </p></li>
			<li><p>В лунной мифологии, в мифологии Луны, он обозначается как узенький серп месяца, и для мужчины в его жизни, с этой точки зрения, максимальное совершенство — стать женщиной, подобно тому, как узенький серп Луны, в конце концов, становится полнолунием. </p></li>
			<li><p>Тем же самым, по матриархату, мыслится мужская судьба. И это то, с чем не согласны люди, исповедующие дионисизм.</p></li>
			<li><p>Но подумайте о вреде трезвости — дело в том, что трезвость принесла в мир столько неисчислимых бед, чего никакое пьянство близко не достигало.</p></li>
			<li><p> Пьяный человек не может говорить о гуманизме.</p></li>
			<li><p>Так вот. Ужас трезвости даже не в том положении дел, которое она принесла сейчас на эту планету. Дело в том, что именно трезвости мы обязаны «трагическим чувством жизни». Именно так называется книга замечательного испанского философа Мигеля де Унамуно — «Трагическое чувство жизни». говорить о гуманизме. Он не понимает, что это такое. Потому что для него все — друзья. Сказать пьяному: «Ты знаешь, а вот есть гуманисты, а есть не гуманисты...»</p></li>
			<li><p>Но он тебе скажет: «Ну ты, парень, вообще… Ты мне друг или нет?» И так он скажет любому, это естественно...</p></li>
			<li><p>толпа организованно расселена по прямоугольным клеткам прямоугольных строений, образующих прямоугольные улицы. Это, по выражению Юлиуса Эволы, «организованный хаос» Э.Г.Т.</p></li>
			<li><p>Метод делимости, испытанный на «живой» и «мёртвой» природе, обратился на человека, и даже предметы, созданные когда-то для удовольствия и забавы, превратились в инструменты деления. Зеркало и часы, к примеру. «Человек, оценивающий свой костюм перед зеркалом, к нормальной деятельности неспособен. ЭГТ</p></li>
			<li><p>Зеркало, поначалу созданное для наслаждения, превратилось в возбудителя страха, равно как и часы, фиксирующие неестественность наших действий.» (Robert Musil. Mann ohne Eigenschaften, 1970, s. 93) ЭГТ</p></li>
			<li><p>Понятно почему: зеркало и часы разделяют меня на домашнего и делового человека, на работающего и отдыхающего, в широком смысле на меня «для себя» и меня «для других». ЭГТ</p></li>
			<li><p>Не давая труда хотя бы поверхностно в себе разобраться, человек хочет стать красивей, богаче, удачливей, вдохновляясь бесчисленными героями масс-медиа.ЭГТ</p></li>
			<li><p>призывы к народному счастью и лучшей доле маскировали будущее комфортное времяпрепровождение и умиротворение среди машин и роботов.</p></li>
			<li><p>Влияние женского архетипа «социальной матери» ограничивает натуральную мужскую экспансию полезным захватом и рациональной обработкой. </p></li>
			<li><p>Если в свободном мужском субъекте превалирует легкомысленное отношение к нуждам насущным, стремление к путешествиям, военным подвигам и созерцательному познанию, то мужское рацио, подчинённое телесной материальности, ориентировано на постоянное удовлетворение «лишённости» ( privatio), свойственной материи.</p></li>
			<li><p>Союз позитивизма, науки и техники породил нелепую идею прогресса.</p></li>
			<li><p>В самом деле, странно от кого-нибудь услышать; я становлюсь с каждым годом умней, красивей, талантливей, сильней, но вовсе не странно сие услышать от глашатаев общественного мнения.</p></li>
			<li><p>В механизированной монотонности больших городов блуждает страх, беспокойство за утрату работы и судьбу завтрашних дней, отвратительное ощущение пассивности, «управляемости». </p></li>
			<li><p>блеф большого масштаба, рассчитанный на массовый психоз и легковерие толпы, блеф, нисходящий с высот власти и авторитетов и разоблачённый только после падения таковых</p></li>
			<li><p>Если и нельзя однозначно сказать: мир – моё представление, то качественное восприятие мира зависит от меня в немалой степени.</p></li>
			<li><p>Дело в том, что в европейской истории случилась одна очень странная вещь, и случилась она на рубеже XVI и XVII веков. Почему это совпало с закатом магии и расцветом современной науки? Люди перестали доверять своим органам чувств, своему восприятию. Как только человек перестает доверять своему восприятию, с магией уже покончено. </p></li>
			<li><p>Магия и магический мир основаны на том, что человек, во-первых, абсолютно доверяет своему восприятию, своей коже, своим глазам, своим ушам и не считает, что в этом надо сомневаться.</p></li>
			<li><p>встречая кого-либо, внешне напоминающего человека, мы его за человека и принимаем, а его сходство с птицей, зверем или растением полагаем случайным, столь же случайным, как человекоподобие скалы или дерева.</p></li>
			<li><p>Нам не приходит в голову, что наш собеседник – только антропоморфное отражение капли смолы, змеи, цветка или просто часть неведомого целого. </p></li>
			<li><p>Как вообразить, что этот «поезд», чертеж которого прошел сквозь мозг инженеров и материализовался с помощью человеческих рук, – одна из бесчисленных реализации «демона движения»</p></li>
			<li><p>Эгоцентрик ничего не имеет и ничего не хочет иметь. Просто он видит и воспринимает то, что хочет видеть и воспринимать.</p></li>
			<li><p>Мы не можем принимать некритически внешний мир и то, что он нам говорит. И мы не можем принимать некритически те советы, книги и максимы, которые к нам из этого внешнего мира приходят. </p></li>
			<li><p>процесс обезличивания и стандартизации прогрессирует</p></li>
			<li><p>Согласно Эриху Фромму, это и есть «бегство от свободы» в механическую реальность. Вовлечённый в такую реальность, человек чувствует гибельное притяжение социума.</p></li>
			<li><p>Призыв к холодному расчёту, рацио суть военный призыв – ты в опасности, стань солдатом, стань серийным социальным изделием.</p></li>
			<li><p>До поры до времени можно действительно думать о необходимости «играть роль». Однако, процесс вовлечения в «иное» беспощадно необратим: селф растворяется в навязанной роли, человек теряет индивидуальность и превращается в одного из бесчисленных «других».</p></li>
			<li><p>Он теряет чувство внутренней судьбы и метафизической уверенности в себе, предпринимает переоценку собственных ценностей и убеждений в пользу общепринятых, начинает «думать» расхожими мыслями и вибрировать в силовых линиях социальной эмоциональности. </p></li>
			<li><p>Оторванный от небесной энергии селф (эйдетическая эманация, эрос энергуменос) он отдаётся на прихоть телесно-материальных источников. </p></li>
			<li><p>Постепенно он проникается таким, примерно, убеждением: земная жизнь, по сути, единственная жизнь, если и есть нечто иное, это смутное, постморальное прозябание вероятного облака души в ожидании окончательной неподвижности.</p></li>
			<li><p>Личность-есть миф. А личность есть то - на что мы все обречены, потому что мы часть западноевропейской культуры, в основе которой лежит личность. А у личности есть имя. А имя - это миф.</p></li>
			<li><p>Индивиду, который сам себе не нравится, трудно удержаться от соблазнительного уничижения</p></li>
			<li><p>Живут не только люди и звери, но и любые материальные вещи</p></li>
			<li><p>ему безразлична внутренняя жизнь металла или минерала</p></li>
			<li><p>страшный путь одинокого мистика</p></li>
			<li><p>уяснить свою внутреннюю расположенность и предрасположенность</p></li>
			<li><p>прочувствовать силовые линии, эманирующие из его неведомого центра</p></li>
			<li><p>дабы соответственно с этим ориентировать свою жизненную активность</p></li>
			<li><p>если считать реальность, в которой мы живем, за базовую, а все остальное, в том числе нашу индивидуальную жизнь - отклонениями.</p></li>
			<li><p>нужна немалая смелость, чтобы не шагать в ногу с социумом, а утвердить свою собственную индивидуальную жизнь, как мерило всего остального.</p></li>
			<li><p>Что же является причиной того, что, тот или иной, писатель или поэт склоняется от классики к маньеризму? Сомнение в базовой реальности и в том, что она является основой нашей жизни.</p></li>
			<li><p>Это даже тешит наши читательские или зрительские глаза, потому что уводит нас от этой самой базовой реальности. В этом состоит парадокс восприятия произведений искусства.</p></li>
			<li><p>есть все основания сомневаться в наличии, так называемой, "базовой реальности". </p></li>
			<li><p>Миф – силовая линия, по которой напрвляется любое бытие</p></li>
			<li><p>Инфантилизм, панический страх при всяком угрожающем намеке власть имущих, дрожь перед грядущими катастрофами, ужас при реве гигантских машин, отравляющих, пожирающих, уничтожающих, но дающих комфорт, почтение перед их кормильцами-миллиардерами, привычное, но боязливое ожидание неизбежной смерти – таковы силовые линии современного мифа.</p></li>
			<li><p>Если ранее честолюбцы относились к соотечественникам как к людям взрослым, имеющим собственные взгляды на жизнь, то сейчас задача властолюбивых резко изменилась. Достаточно обладать внушительным голосом, авторитетной интонацией, набором занятных игрушек, уверенных соблазнительных обещаний…и дело в шляпе.</p></li>
			<li><p>ну, хорошо, может быть, этот человек и не прав, но ведь в конце концов интересно, что сосновую смолу и звезду Бетельгейзе связывает очень прочная дружба</p></li>
			<li><p>Заметьте, уже очень давно никто не говорит, что жить – значит просто жить. Жить – это надо кем-то, чем-то стать, свою жизнь оправдать и т.д., т.е. втягиваться в борьбу.</p></li>
			<li><p>И хорошо, если бы это был рыцарский поединок на красивом ристалище. Но очень плохо, допустим, толкаться в метро в час пик и т.д. и тоже называть это жизнью и борьбой. Это, по-моему, бред просто какой-то. И это действительно всё очень малоприятно.</p></li>
			<li><p>И над западной цивилизацией повисает чудовищная идея целесообразности... И бедная жизнь претерпевает ещё один удар – мало того, что её надо как-то оправдывать и бороться, она ещё должна иметь цель. Если вдуматься в это сумасшествие, это действительно непонятно. Появляется впечатление, что нельзя просто жить.</p></li>
			<li><p>Чем более всего угнетает современная картина мира? Не этой дикой, совершенно неблагородной идеей какой-то истинности.</p></li>
			<li><p>потому что есть красота, эстетика безобразия и эстетика старости, и если этого не учитывать, то вообще ни о какой эстетике речи быть не может.</p></li>
			<li><p>Поэтому, если говорить о какой-то псевдоправде или псевдоистине, гораздо спокойнее, лучше и разумнее встать на сторону обмана.</p></li>
			<li><p>Удивительна такая вещь, что всё прекрасное в жизни сводится к идее какого-то обмана. И мы начинаем думать, что обман – это, ну что же, не так уж и плохо. Тогда мы начинаем думать вот о чём.</p></li>
			<li><p>О названии, которое я дал сегодняшней  лекции –- “Пурпурная субстанция обмана”. Давайте подумаем о гибкой, пенистой, кипучей молодой крови. Действительно, ведь это и есть генератор любых иллюзий.</p></li>
			<li><p> Вы платите налоги нам, чтобы жить, как хотим мы.</p></li>
			<li><p>И физически, и психологически человек способен чувствовать родство с тем или иным зверем, деревом, камнем, звездой, ассоциировать себя с объектами совершенно внечеловеческими и испытывать их магико-метафорическое влияние.</p></li>
			<li><p>Точно так же через человека могут проникать и в человеке пребывать сущности иной природы.</p></li>
			<li><p>Ибо все сокровища, над коими раскинулся небесный свод и которые таит в себе Земля, в каком бы измерении её ни взять – в высоту, в глубину, в ширину или же в длину – не стоит того, чтобы из-за них волновалось наше сердце, приходили в смятение наши чувства и разум</p></li>
			<li><p>освободился от мифологемы современного мира</p></li>
			<li><p>Нам, каждому из нас, открыты минимум три уровня манифестации.Первый — тот самый в котором мы с вами беседуем, второй уровень — это сон и сновидения</p></li>
			<li><p>третий уровень — это мир нашего воображения, когда мы в нормальном и трезвом виде мечтаем и представляем себе зрительные образы. Это три уровня манифестации, которые нам вполне доступны.</p></li>
			<li><p>И поэтому первым шагом в развитии микрокосма является попытка расширить наше восприятие во вселенной сна и вселенной воображения.</p></li>
			<li><p>античная душа открывается чувствам, предчувствиям, фантазиям, но не разуму</p></li>
			<li><p>Из жизни ушла душа – искусное целое, гармонически составленное из четырех космических элементов,</p></li>
			<li><p> душа, не уступающая разложению, свободная в своих сложных движениях, уникальная в своих метаморфозах, </p></li>
			<li><p>чувствующая себя одинаково в воздушной стихии фантазии, странных призраках гигантских морских глубин и среди исполинских чудовищ матери-земли.</p></li>
			<li><p>Мы говорили вначале о силовой линии, направляющей ту или иную эпоху. Нашу эпоху определяют смерть и разум. </p></li>
			<li><p>одни торопятся, не спят ночами, дабы решить важную проблему; другие, уяснив бесполезность жизни, скинув нацепленную обществом маску озабоченности</p></li>
			<li><p>подавили духовную самостоятельность</p></li>
			<li><p>тривиальная реальность наших дней на фоне беспросветной скуки бытия</p></li>
			<li><p>Высокий уровень техники способен увеличить скорость, сократить расстояния, улучшить гигиену, но ни на йоту не может придать жизни занимательности и веселости.</p></li>
			<li><p>Электронные аттракционы, куклы, игры не вызывают ничего кроме инерции, скуки и уныния.</p></li>
			<li><p>Человек массы, как правило, не видит сколько-нибудь интересных снов, его грезами руководят специалисты по видениям.</p></li>
			<li><p>Любой аляповатый бред, выданный за очевидную реальность, подтвержденный слухами или парой пьяных свидетелей, находят общее сочувствие.</p></li>
			<li><p>совершенно лишенная таинственности</p></li>
			<li><p>она вдруг почувствовала без привкуса тайны жвачка жизни непереносима</p></li>
			<li><p>Драконы, нимфы, великаны, скалы, растения и звери отличаются друг от друга только своими особенностями и ситуацией в мире. У них своя жизнь и свой язык.</p></li>
			<li><p>Время толпы кончилось: ее убил тотальный техницизм, без которого люди уже не могут обойтись, общая тенденция к порядку и миру, </p></li>
			<li><p>размывание национально-расовых границ, невероятное распространение пропаганды, развлекающее население «сенсациями», запугивающее мелкими и крупными угрозами, начиная от эпидемий и постоянной опасности терроризма и кончая атомной войной.</p></li>
			<li><p>Любое правительство склонно приписывать собственным усилиям относительное благополучие и благосостояние населения. Демагогия, ложь, выдумки о процветании, о котором беспрерывно думает руководство и о тех, кто тормозит сие процветание заполняют страницы газет и экраны телевизоров.</p></li>
			
			<li><p></p></li>
			
		</ul>
