<h1>Михаил Покрасс</h1>

<h2>1</h2>
<ul>
	<li><p>Я привык верить, что всякое наше поведение непременно имеет (или имело прежде) субъективный смысл. </p></li>
	<li><p>Мой вопрос: «Очень не нравится борода?» сделал раздражение парня легальным, понятным и допустимым. </p></li>
	<li><p>Больше не надо было злость сдерживать, и искать повод для драки.</p></li>
	<li><p>Действительно, как только снимается запрет на выражение проблематичного переживания, оно перестает этим запретом усиливаться и занимает подобающее ему место наравне с другими нашими чувствами.</p></li>
	<li><p>если ты перестаешь скрывать свое раздражение и позволяешь себе как-то, в приемлемой форме его выразить, то излишнее напряжение снимается. Ты начинаешь смотреть на напрягающее событие реалистичнее.</p></li>
	<li><p>Люди, которые не доверяют себе, не доверяют никому, нередко людей боятся и хотят казаться добрее, чем есть.</p></li>
	<li><p>Многих из них мы легко отличаем по наглядной, сразу бросающейся в глаза метке на лице: они навсегда отгородились от вас неестественной дежурной улыбкой. </p></li>
	<li><p> В ответ же, они хотят искренне доброго отношения. В которое, меряя всех на свой аршин, конечно же не поверят. Но на отсутствие коего непременно же обидятся.</p></li>
	<li><p>мы посылаем два взаимоисключающих сигнала (один своим существованием, а другой осознанным поведением, обещаниями, например</p></li>
	<li><p>В общении, особенно с детьми, какими бы хорошими мы ни хотели быть, нам никогда не следует обещать быть другими! </p></li>
	<li><p>Тренировать самооправдание и слепоту или тренировть умение столкнувшись со столбом тренировать хоть какую-то из этого для себя выгоду</p></li>
	<li><p>Расхлябывающее свякого нестойкого "сострадание жалельщиков"</p></li>
	<li><p>Пьяный, психопатически открытый</p></li>
	<li><p>До сих пор я тратился, чтобы привлечь внимание тех, кому было не до меня да и кого я не заметил, навязыв им свой интерес,</p></li>
	<li><p> Лезем в уши тем, до кого нам нет дела</p></li>
	<li><p>Казаться хорошими, вместо того, чтобы быть полезными хотя бы для себя! В страхе перед человеческой инициативой, перед спонтанным живым человеком, в страхе самих себя!... Поистине удивительный способ зомбирования...</p></li>
	<li><p>Круг Орландин</p></li>
	<li><p>Радость всех опорочить</p></li>
	<li><p>не занятый собой человек, надеющийся на всеобщую заботу, снижая в своем мнении других, доказывает себе, что он лучший и заслужил, чтобы те были у него на посылках! Жизнь -- дерьмо и это дерьмо должно его ЧИСТОГО обслуживать! </p></li>
	<li><p>Только грешный человек свободен и, сочувствуя, бережет свободу другого</p></li>
	<li><p>Вот и дочь не столько боится неприятия и «давления» матери, сколько просто не хочет тревожить инфантильную маму своими сложностями взрослеющего человека.</p></li>
	<li><p>Не хочет своими «странностями» разрушать детские представления о мире мамы, которая в суете учебы, стремления к успеху, бытовых и семейных забот, работы и карьерных достижений ни разу не заметила себя, никогда не задумалась, зачем это все ей. А у дочери вопросы о смысле...</p></li>
	<li><p> Ты не себе служишь</p></li>
	<li><p>мы «терпим» жизнь, вместо того, чтобы жить</p></li>
	<li><p>«А он шутил. Он все шутил. <br> Он был, как все, один на свете. <br> Не трус. Не глуп. Но не заметил, <br> Как жизнь в ухмылку обратил!»</p></li>
	<li><p>И не гоните, а берегите и удерживайте Ваш главный страх - страх любить и нуждаться! Ведь Вы так многими пренебрегли, столькими помыкали и стольких обидели, походя, не заметив, что теперь сами страшно боитесь оказаться на их месте. Вот и будьте осторожны, приготовьтесь, Вы же ото всех будете ждать своей же собственной холодности (проекция, называется) - БОЙТЕСЬ!</p></li>
	<li><p>любить и нуждаться предполагает желание и умение принимать свободу другого тебе отказывать!... И в тебе не нуждаться!... Но без этого риска Вам и скучно и... самой свободы нет! БОЙТЕСЬ! Просьба в отличие от требования или приказа предполагает ВОЗМОЖНОСТЬ ОТКАЗА!</p></li>
	<li><p> Их благодарят из жалости!</p></li>
	<li><p>Изо всех сил услуживают - и всегда невпопад</p></li>
	<li><p>Несчастливцы легко объединяются в злопыхательстве </p></li>
	<li><p>Кокетничающий человек не чувствует за комплиментом в его адрес содержания</p></li>
	<li><p>Выпрашивая апплодисменты!</p></li>
	<li><p>Делая непрошеное замечание</p></li>
	<li><p> В кого ты их превращаешь?!</p></li>
	<li><p>Куда девались настоящие мужчины? Они все ушли к настоящим женщинам.</p></li>
	<li><p>************ Мягко стелет - жестко спать **********</p></li>
	<li><p>Всем заискивающе улыбающаяся</p></li>
	<li><p>Люди, которые ведут себя прямо, жестко, открыто, агрессивно обнаруживают, что мир к ним отностися со вниманием и все более и более раскованно себя ведут</p></li>
	<li><p>Явили себя миру</p></li>
	<li><p>сладенько улыбаются и ведут себя вкрадчиво</p></li>
	<li><p>А люди, которые, входя в общение, сладенько улыбаются и ведут себя вкрадчиво - ну если крадется - то ведь окружающие чувствуют опасность..</p></li>
	<li><p>Люди, которые как будто дают взятку предварительно окружающим: "Я вот так к вам хорошо отношусь - вы ко мне относитесь хорошо."</p></li>
	<li><p>Стеснили других не дав другим выбрать, как к ним относиться</p></li>
	<li><p>Обнаруживают таким образом страх перед людьми - это напрягает людей</p></li>
	<li><p>Мягко стелет - жестко спать</p></li>
	<li><p>Я с тобой отработал этот ритуал ласковости - теперь ты мне должна</p></li>
	<li><p>Слащавые, мягчаще ведущие себя люди - это люди, которые изначально боятся других. А когда мы боимся? - когда сами агрессивно относимся.</p></li>
	<li><p>Они боятся себя, боятся своей собственной агрессивности, своего собственного характера, боятся собственной силы</p></li>
	<li><p>И они ее прячут, ну значит, держат неуправляемой - она взрывается</p></li>
	<li><p>Нами управляют те свойства, которые мы не исследуем, потому что их стыдимся</p></li>
	<li><p>Меня настораживают люди, которые мягко стелят, которые мне улыбаются не посмотрев - как я им и мне много обещают и обещают внимание, заботу, понимание и так далее</p></li>
	<li><p>И при этом, когда такие люди улыбаются - они ждут, что в ответ им улыбнутся. Они ждут в ответ не показной улыбки за свое якобы доброе поведение</p></li>
	<li><p>Люди реагируют на это как на фальш, это их напрягает</p></li>
	<li><p>Чего со мной мягчить? чего мне улыбаться, если ты меня не любишь?!</p></li>
	<li><p>Люди отвечают либо неискренней внешней бережностью, либо отходят, либо ведут агрессивно - это ей непонятно и она начинает обижаться.</p></li>
	<li><p>Люди обучающиеся или изначально ведущие себя искренне от нее отделяются</p></li>
	<li><p>Она меня вынуждает чувствовать себя виноватым перед ней, она меня вынуждает чувствовать себя как будто я ей что-то должна - ну естесственно я от этого отодвигаюсь</p></li>
	<li><p>Перевоспитывать я ее не собираюсь, постараюсь просто заизолироваться</p></li>
	<li><p>Женщина, которая виноватой что-ли себя чувствует в мире - она прямо пожирает эту жалящуюся глазами, ей улыбается, хочет ей показаться добренькой и вот-вот сейчас ее поддержит в обиде</p></li>
	<li><p>вот-вот сейчас ее поддержит в обиде</p></li>
	<li><p>Все невнимательные - а вот я одна внимательная. Они тебя не понимают - я тебя пойму...</p></li>
	<li><p>Поддержиает в обиде</p></li>
	<li><p>Жалящийся человек, который говорит, что "меня никто не понимает" и вот так слащаво ведущй - он отталкивает всех искренне ведущих себя людей.</p></li>
	<li><p>Ему неоткуда взять опыт о том, что к нему люди относятся доброжелательно</p></li>
	<li><p>А он выманивает на себя тех, кто очень хочет бесплатную путевку в рай за то что они добрые такие</p></li>
	<li><p>Он выманивает на себя тех, кто хочет показаться добрым без всякого вклада</p></li>
	<li><p>И в конце концов выбирает тех людей, которые, может, и искренне стараются выглядеть перед собой добрыми, но они ничего.. они пообещают, потом ничего не сделают</p></li>
	<li><p>Собрать свою стаю</p></li>
	<li><p>Сластящий человек, втайне боящийся людей, соберет вокруг себя неискренних, обещающих много и ничего не дающих людей - он в конце концов отчаивается</p></li>
	<li><p>Она обязывает окружающих</p></li>
	<li><p>Она невнимательна к тому, что происходит - она выдумала свою доброту и не замечает, что происходит вокруг, поэтому любое живое колыхание для нее может оказаться болезненным</p></li>
	<li><p>Она не чувствует живых людей</p></li>
	<li><p>Она не чувствует и самоё себя</p></li>
	<li><p></p></li>
	<li><p>******************************Девушка с голубыми волосами*********************</p></li>
	<li><p>Они были как-то беспредметно, теоретично говорливы и "умненьки".</p></li>
	<li><p>чью услужливость она снисходительно принимала</p></li>
	<li><p>Любили и ценили в себе только эту неоплодотворенную собственным сомнением и собственным открытием - своим творчеством - теоретичность, "умненькость"</p></li>
	<li><p>И свою "умненькость" - именно так приходилось сказать - они словно мелкие кружева плели из бесплатных ниток. В их умничанье, казалось, не было ни масштаба, ни вообще содержания.</p></li>
	<li><p>Они словно пели с чужого голоса. Это "пение" они предпочитали факту собственного существования.</p></li>
	<li><p>она не злонамеренна. У нее так получается невольно. Она так защищается. За мой счет, но не от меня, а от своей собственной неустроенности. От подспудной тоски по тому, что она ощущала несбыточным.</p></li>
	<li><p>Понимание мотивов имитатора освобождает от обращенной на него агрессии.</p></li>
	<li><p>Просьба опеки</p></li>
	<li><p>Поддерживать в обиде</p></li>
	<li><p>Демонстративное поведение тяготит и отталкивает окружающих</p></li>
	<li><p>похожий на девочку избалованный парнишка</p></li>
	<li><p>подчеркнуто демонстрировать</p></li>
	<li><p>чью услужливость она снисходительно принимала</p></li>
	<li><p>винясь, как маленькая к маленькому подлизываясь</p></li>
	<li><p>вдруг распорядительное панибратство</p></li>
	<li><p>не заметив ее, не считаясь с ней, я пытался превратить ее в средство для осуществления моих "добрых" намерений, в предмет. Желая погреться, властвовать над ней я сам подпадал под ее власть. </p></li>
	<li><p>Вы своей заботой лишаете его необходимости иметь характер, иметь инициативу и в результате это побуждает его к апатии</p></li>
	<li><p>Не мешает партнерше проявлять ее собственную инициативу</p></li>
	<li><p>Не пристаю ли я к женщинам лишь потому, что чувствую себя неспособным их заинтересовать?</p></li>
	<li><p>Складывается ощущение, что другие настолько гениальны, что - они могут (ты не можешь) Неужели все другие могут, а мы не можем?</p></li>
	<li><p>Одно дело - готовность при случае быть полезным, другое - подавление инициативы опекой.</p></li>
	<li><p>Они прилепляются к чужому греху, к чужой инициативе, и дальше - помогают, заботятся и прочее.. и этой заботой подавляют инициативу тех, кто рядом не по злобе.</p></li>
	<li><p>Инициатива, подавленная опекой</p></li>
	<li><p>когда-то очень давно человек, желая быть хорошим, не занялся собой, а не занятый собой, не занятый своим телом, не занятый своими импульсами - не понимает других.</p></li>
	<li><p>Зачем ему что-то делать, если он точно знает, что мама придет и положит что-то в холодильник?</p></li>
	<li><p>"и делит, не дыша, мой трепет поневоле"</p></li>
	<li><p>Одно дело - готовность при случае быть полезным, другое - подавление инициативы опекой.</p></li>
	<li><p>Они прилепляются к чужому греху, к чужой инициативе</p></li>
	<li><p>Инициатива, подавленная опекой</p></li>
	<li><p>Требующая платы поза</p></li>
	<li><p>Вы хотите стать маленькой и чтобы с вами кто-то нянчился - все понимали, вас кохали, на вас смотрели, всми занимались и чтобы все жили так как вы придумаете, а придумаете вы от печки.</p></li>
	<li><p>Отказавшая себе в близости с мужчиной, не имеющая такой близости в закрепленном успехом опыте, уже не верящая в возможность близости</p></li>
	<li><p>Понимание мотивов имитатора освобождает от обращенной на него агрессии.</p></li>
	<li><p>Не нападайте на меня</p></li>
	<li><p>"и делит, не дыша, мой трепет поневоле"</p></li>
	<li><p>Исправлялись-исправлялись и вот однажды обнаружили, что когда нам сказали: плохой - мы можем сказать: сам плохой. И как только мы говорили другому: сам плохой и если это было доказательно, то другой начинал исправляться - и у нас сохранился РЕФЛЕКС</p></li>
	<li><p>Своей жизни - нет. Они прилепляются к чужому греху.</p></li>
	<li><p>Она ленива и пуста. Все ею восхищены и никто ее не любит.</p></li>
	<li><p>Человек, которым я восхищаюсь, мне интересен, как комета, которая пролетела и не больше. А человек, который мной занят - он мне интересен, потому что в его глахах я вижу какого-то себя незнакомого.</p></li>
	<li><p>Вы своей заботой лишаете его необходимости иметь характер, иметь инициативу и в результате это побуждает его к апатии</p></li>
	<li><p>Я живу или я реагирую на других?</p></li>
	<li><p>В доме нет мужской инициативы</p></li>
	<li><p>Вы своей заботой лишаете его необходимости иметь характер, иметь инициативу и в результате это побуждает его к апатии</p></li>
	<li><p>Вечно стараться понравиться</p></li>
	<li><p>Понимание мотивов имитатора освобождает от обращенной на него агрессии.</p></li>
	<li><p>Вы с мамой добиваетесь продолжения детства, хотя внешне это выглядит как будто вы настаиваете на взрослости</p></li>
	<li><p>Для того, чтобы найти новую стратегию, надо признаться, что предыдущая - была на нее жизнь потрачена - КАК БОЛЬНО!</p></li>
	<li><p>Стратегия, которую вы выбрали - она кажется эффективной, а в действительности работает против вас</p></li>
	<li><p>Я остался фактически в том возрасте, в котором начал притворяться</p></li>
	<li><p>Одна из участниц начинает изо всех сил давать советы другой. Другая - в конце концов вырубается.</p></li>
	<li><p>Понимание мотивов имитатора освобождает от обращенной на него агрессии.</p></li>
</ul>



<h2>О чем молчат любимым</h2>
<ul>
	<li><p>МОЙ ВЫБОР (ПРЕДИСЛОВИЕ)</p></li>
	<li><p>Как - даже очень напуганному чужим несчастливым опытом...</p></li>
	<li><p>...до занудства "правильному" молодому человеку..</p></li>
	<li><p>все-таки удается встреча со своим, часто пугающим, кажущимся сумасшедшим, но своим внутренним миром, со своей реальностью?</p></li>
	<li><p>Как даже очень напуганному чужим несчастливым опытом, до занудства "правильному" молодому человеку все-таки удается встреча со своим, часто пугающим, кажущимся сумасшедшим, но своим внутренним миром, со своей реальностью?</p></li>
	<li><p>Как ему удается не записать себя в сумасшедшие, а решиться смотреть, слышать и чувствовать по-своему - эгоистично пестовать себя.</p></li>
	<li><p> ЖЕНЩИНА, ЛЮБОВЬ, ВЕСНА...(ВМЕСТО ЭПИРАФА)</p></li>
	<li><p>I. НЕЖДАННАЯ ГОСТЬЯ</p></li>
	<li><p></p></li>
	<li><p>УЛЫБКА НА ВЕЧЕРНЕЙ ЗАРЕ В ГОРОДЕ</p></li>
	<li><p>ЗНАНИЕ ПОЧЕМУ-ТО РАДОСТЬ!</p></li>
	<li><p>МИР БЕЗУМЦЕВ</p></li>
	<li><p>ЗАЧЕМ МНЕ ТОЛСТОЙ?</p></li>
	<li><p>СНЕГ... НЕОБХОДИМОСТЬ... МУЗЫКА...</p></li>
	<li><p>ГРОЗА СКВОЗЬ СОЛНЦЕ</p></li>
	<li><p>НИЗКИЙ ВАМ ПОКЛОН, ВЛАДИМИР АЛЕКСЕЕВИЧ!</p></li>
	<li><p>ЛЮБЯ ЖИЗНЬ, ЛЮБИШЬ...</p></li>
	<li><p>НЕОБХОДИМОСТЬ ЭТО - ПАРТИТУРА СВОБОДЫ</p></li>
	<li><p>Я ХОЧУ СТАТЬ ПРЕЖНЕЙ</p></li>
	<li><p>КАК ОСТАВИТЬ СЕКРЕТЫ КРАСОК?!</p></li>
	<li><p>СЛОВА ЛИШЬ НАЗЫВАЮТ</p></li>
	<li><p>ЧТОБЫ НЕ ПРОСЛУШАТЬ ТВОЙ ГОЛОС</p></li>
	<li><p>ДОВЕРИТЬ ИЛИ НЕ ДОВЕРИТЬ... СЕБЕ?</p></li>
	<li><p>ДЕВЯТЫЙ ВАЛ</p></li>
	<li><p>ПРОРИЦАНИЕ</p></li>
	<li><p>ПОДДЕРЖКА</p></li>
	<li><p>II. ЛЮДИ С НЕУСТОЙЧИВОЙ САМООЦЕНКОЙ или ЗАВОРОЖЕННЫЕ ДЕТСТВОМ</p></li>
	<li><p>ИЗМЕНА</p></li>
	<li><p>ОН, ОНА, ОНИ</p></li>
	<li><p>ДРУГ ЛИ ОН МНЕ? (РАЗГОВОР С ПОДРОСТКОМ)</p></li>
	<li><p>ДРУГ ЛИ ТЫ ЕМУ? (РАЗГОВОР С ДЕВУШКОЙ-ПОДРОСТКОМ)</p></li>
	<li><p>ДОН-КИХОТЫ, ОВОДЫ, ДЕКАБРИСТЫ... (ПОСЛЕ РАЗГОВОРА С МОЛОДОЙ ХУДОЖНИЦЕЙ)</p></li>
	<li><p>КАК ЮРИСТ "НЕ СОЛГАЛ"</p></li>
	<li><p>ЗАПОВЕДЬ ТАТЬЯНЫ БОРИСОВНЫ</p></li>
	<li><p>СТЕСНЕННЫЕ ДОВЕРИЕМ</p></li>
	<li><p>САМА СЕБЕ ИНТЕРЕСНАЯ</p></li>
	<li><p>ЕЕ НЕМУЖСКАЯ ДЕПРЕССИЯ</p></li>
	<li><p>Я НЕ СВОЯ, Я - ЕГО!</p></li>
	<li><p>КАК МЫ ТЕРЯЕМ</p></li>
	<li><p>ПРИСТРАСТНЫЙ БЕЛЫЙ</p></li>
	<li><p>НЕХОЧУХА</p></li>
	<li><p>ЧТО МНЕ,С КАЖДЫМ - В ПОСТЕЛЬ ЛОЖИТЬСЯ?</p></li>
	<li><p>ПОЧЕМУ ОНИ СЕБЯ НЕ УЗНАЮТ?</p></li>
	<li><p>БУДЕШЬ ЛЮБИТЬ, НЕ БУДИ!</p></li>
	<li><p>ЖЕНА РЕЗИДЕНТА НАШЕЙ РАЗВЕДКИ</p></li>
	<li><p>ВСЯКАЯ ДЕВУШКА ТАК ВЕДЕТ!</p></li>
	<li><p>БЕС - В РЕБРО!</p></li>
	<li><p>ЧЕМ ПРИКАЖЕТЕ ЕГО ПРИВЛЕКАТЬ?</p></li>
	<li><p>ЕСЛИ ХОТИТЕ БЫТЬ ПОНЯТОЙ</p></li>
	<li><p>ДЕВОЧКА С КОЛЕНОЧКАМИ</p></li>
	<li><p>ЕЕ ОТВЕТ</p></li>
	<li><p>МУЖЧИНЫ, КОТОРЫХ ВЫ НЕ ВСТРЕЧАЛИ</p></li>
	<li><p>КАК ВЫ СОЧИНИЛИ СВОЮ ФРИГИДНОСТЬ</p></li>
	<li><p>КАК САМОЙ СТАТЬ ГАРАНТОМ СВОЕЙ БЕЗОПАСНОСТИ</p></li>
	<li><p>ВАША ГЛАВНАЯ ОШИБКА!</p></li>
	<li><p>КАК УЗНАТЬ, ЧЕГО ХОЧЕШЬ?</p></li>
	<li><p>НЕУСТОЙЧИВАЯ САМООЦЕНКА</p></li>
	<li><p>ЧЕЛОВЕКА ЛИ ТЫ ХОЧЕШЬ?</p></li>
	<li><p>ПОЦЕЛУЙ СПЯЩЕЙ ЦАРЕВНЫ (ПУСТОТА)</p></li>
	<li><p>КРУГ ПСЕВДОЛИДЕРОВ</p></li>
	<li><p>ПРЕДПРИНИМАТЕЛЬ</p></li>
	<li><p>ПОТЕРИ</p></li>
	<li><p>ОТКРЫТЫЙ ПРИЕМ</p></li>
	<li><p>МЫ НЕ ЗНАЕМ, КАК ВСЕГО ДОБИЛИСЬ!</p></li>
	<li><p>ОТКРЫТЫЙ ПРИЕМ (ПРОДОЛЖЕНИЕ)</p></li>
	<li><p>СНОВА О РЕВНОСТИ</p></li>
	<li><p>ВОЗДУШНЫЙ ШАР</p></li>
	<li><p>БОЯСЬ ПОМЕШАТЬ!</p></li>
	<li><p>КЛИЕНТ, ПСИХОТЕРАПЕВТ, СУПЕРВИЗОР</p></li>
	<li><p>ЖЕНЩИНА УШЛА</p></li>
	<li><p>ЗАМУЖ ЗА НАРКОМАНА</p></li>
	<li><p>О ЧЕМ МОЛЧАТ ЛЮБИМЫМ (ПОСЛЕДНЯЯ ЖАЛОБА ПОДРОСТКА)</p></li>
	<li><p>III. О СМЫСЛЕ ЖИЗНИ</p></li>
	<li><p>СУЕСЛОВИЕ (ЧТОБЫ ЗАГОВОРИТЬ О БОГЕ)</p></li>
	<li><p>ОТКРЫТОЕ ПИСЬМО ПОЭТУ И АРХИТЕКТОРУ</p></li>
	<li><p>О СМЫСЛЕ ЖИЗНИ</p></li>
	<li><p>В ТРИДЦАТЬ ТРИ ГОДА</p></li>
	<li><p>ВВЕДЕНИЕ</p></li>
	<li><p>ДВЕ СПЕЦИАЛЬНЫЕ ПРИЧИНЫ ВАЖНОСТИ РЕШЕНИЯ ВОПРОСА О СМЫСЛЕ ЖИЗНИ</p></li>
	<li><p>АНАЛИЗ ПРИЧИН ВОЗНИКНОВЕНИЯ ВОПРОСА О СМЫСЛЕ ЖИЗНИ</p></li>
	<li><p>ВОПРОС О СМЫСЛЕ ЖИЗНИ - МНОГО ВОПРОСОВ. ИХ СОДЕРЖАНИЕ</p></li>
	<li><p>ИСХОДНЫЕ ПОЗИЦИИ РЕШЕНИЯ ВОПРОСА О СМЫСЛЕ ЖИЗНИ</p></li>
	<li><p>МОЯ ПОЗИЦИЯ</p></li>
	<li><p>ИЗ ПИСЬМА К МАМЕ</p></li>
	<li><p>IV. АКВАРЕЛЬНЫЕ ЗАРИСОВКИ</p></li>
	<li><p>Я ХОЧУ ЖИТЬ!</p></li>
	<li><p>О МУХАХ, ВОРОНАХ И... СОЛНЕЧНОЙ ДАЛИ</p></li>
	<li><p>ВО ДВОРЕ</p></li>
	<li><p>МАЛЬЧИШКИНА РЫБАЛКА (ПОД ПЛОТИНОЙ КУЙБЫШЕВСКОЙ ГЭС)</p></li>
	<li><p>НРАВИТСЯ!</p></li>
	<li><p>СНЫ</p></li>
	<li><p>ЖУТЬ</p></li>
	<li><p>МАМА ЖИВА</p></li>
	<li><p>...И ПРОСЫПАЮСЬ ДОМА</p></li>
	<li><p>СЭКОНОМЛЕННЫЙ ДОЛЛАР</p></li>
	<li><p>ДОЧКА, ПУШКИН И ЗВОНОК ИЗ АМЕРИКИ</p></li>
	<li><p>В ПРОБКЕ</p></li>
	<li><p>ИЗ НЕОТОСЛАННОГО ПИСЬМА СЫНУ</p></li>
	<li><p>"АМЕЛИ"</p></li>
	<li><p>ПРИЛОЖЕНИЕ</p></li>
	<li><p>И.А. ГОНЧАРОВ. ОБЛОМОВ. ЧАСТЬ ЧЕТВЕРТАЯ</p></li>
</ul>

<h2>Залог возможности существования</h2>
<ul>
	<li><p>ВМЕСТО ЭПИРАФА</p></li>
	<li><p>СОДЕРЖАНИЕ РАБОТЫ</p></li>
	<li><p>I. СУЩНОСТЬ ПОДХОДА</p></li>
	<li><p>...побуждали бы его к продуктивной приспособительной деятельности...</p></li>
	<li><p>...лишающей болезнь ее приспособительного смысла...</p></li>
	<li><p>...выздороветь в тех условиях, в которых заболела...</p></li>
	<li><p>...лечить пациента в тех условиях, которые тот себе создал и которые ему предлагает реальная жизнь или даже в искусственно усложненных...</p></li>
	<li><p>...лечить не условия пациента, а пациента в его условиях, не облегчать условия, а приспосабливать к ним...</p></li>
	<li><p>...болезнь,  как и здоровье, есть не только реакция на прошлое и настоящее пациента, но и на его прогнозируемое будущее...</p></li>
	<li><p>...если сегодня мог больше, чем вчера - хорошо, здоровье само.. если наоборот - плохо.. причем независимо от осознания...</p></li>
	<li><p>...тогда и рождается осознанно немотивируемый подъем или необъяснимая тревога...</p></li>
	<li><p>...она же по-прежнему оствавлась эгоцентричной, печальной, красивой, домашней вещью, снисходтиельно позволяющей себя любить...</p></li>
	<li><p>...лишить болезнь ее приспособительного смысла...</p></li>
	<li><p>...суть - в создании таких условий, которые превращают болезнь из способа приспособления в помеху приспособлению, в явление неудобное, невыгодное...</p></li>
	<li><p>II. ПРИСПОСОБЛЕНИЕ</p></li>
	<li><p>2.1 Способность к приспособлению</p></li>
	<li><p>...развитие и закрепление полезных способов активности...</p></li>
	<li><p>...на биологическом уровне способность к приспособлению у человека - остается наисовершеннейшей, пока его нервная система функционирует как единое целое...</p></li>
	<li><p>2.2 Условия, оптимальные для приспособления</p></li>
	<li><p>Пациент, врач, общество. Различение позиции и задач.</p></li>
	<li><p>Он потому и стал пациентом, что его деятельность по изменению своих условийоказалась объективно непродуктивной, шла вразрез с его индивидуальной необходимостью, то есть не имела индивидуально приспособительного смысла.</p></li>
	<li><p>В чем существо условий, побуждающих к продуктивному приспособлению, исключающему болезнь, кстраняющему ее?</p></li>
	<li><p>МЕЖБЕРЕЗОВАЯ УРАВНИЛОВКА</p></li>
	<li><p>В НИЩЕТЕ КАК НА ВОЙНЕ - меньше возможностей изменения условий в сторону их облегчения</p></li>
	<li><p>Остается только приспособиться к ним или погибнуть</p></li>
	<li><p>МАЛЕНЬКИЙ КАК ОБЕЗЬЯНКА - если крик помог ему получить нужное "чужими" руками, то впредь он чаще и дольше кричит и реже сам решает свои задачи</p></li>
	<li><p>...слова о правильном, но ОТРИЦАТЕЛЬНО ПОДКРЕПЛЕННЫЕ усталостью и вынужденным стоянием...</p></li>
	<li><p>Впредь не только этот, но всякий доклад, программная статья, боевой лозунг будут вызывать у них отупение, страх.</p></li>
	<li><p>...все похожее на этот доклад станет рождать недоверие, скептицизм, обесценивание нужнейших, самых важных в природе слов, недоверие к говорящим их...</p></li>
	<li><p>2.3 Первые выводы. Не приспособишься - сдохнешь, не сдохнешь - приспособишься.</p></li>
	<li><p>...приспособление за счет изменения активности организма животного к совместимым с жизнью условиям происходит в БЕЗВЫХОДНЫХ УСЛОВИЯХ и тем быстрее, чем БЕЗВЫХОДНЕЕ И НЕИЗМЕННЕЕ УСЛОВИЯ </p></li>
	<li><p>Свобода - это освоенная необходимость</p></li>
	<li><p>Общественные условия - условия, в которых удовлетворение биологических потребностей происходит с помощью других людей</p></li>
	<li><p>Приспособление к общественным (в которых удовлетворение биологических потребностей происходит с помощью других людей) условиям заключается в:</p></li>
	<li><p>а) ..в формировании потребности в другом человеке как непременном условии удовлетворения всех потребностей</p></li>
	<li><p>б) ..в формировании потребности в общении</p></li>
	<li><p>в) ..в формировании всего круга специфически человеческих потребностей и человеческих навыков удовлетворения</p></li>
	<li><p>Чем определеннее условия - тем быстрее приспособление!</p></li>
	<li><p>Приспособление к общественным условиям просходит тем быстрее, чем ОПРЕДЕЛЕННЕЕ, ПОСТОЯННЕЕ и определенном смысле НЕИЗМЕННЕЕ, НЕИЗБЕЖНЕЕ этиобщественные условия</p></li>
	<li><p>Неопределенность, непоследовательность общественных условий задерживает, приостанавливает и искажает развитие и приспособление</p></li>
	<li><p>2.4 О неосознаваемом нравственном чувстве</p></li>
	<li><p>Сзнательное поведение вопреки неосознанному нравственному чувству всегда будет вызывать немотивируемую неудовлетворенность, конфликт с самим собой</p></li>
	<li><p>2.5 Три интеграции и два "я" человека</p></li>
	<li><p>У только что родившегося - интеграция - БИОЛОГИЧЕСКАЯ</p></li>
	<li><p>..в досознательный период - осуществляется соподчинением социогенных неосознанных потребностей (?)</p></li>
	<li><p>..в сознательный период - ДВОЯКО: ДЕМОНСТРАНТ /// ИНИЦИАТИВНАЯ ЛИЧНОСТЬ</p></li>
	<li><p>У ДЕМОНСТРАНТА третья интеграция осуществляется на основе одобряемого Я-ИДЕАЛА и ПОДЧИНЕНА ПОТРЕБНОСТИ в сохранноти ОБОБРЕНИЯ И САМООДОБРЕНИЯ</p></li>
	<li><p>У ИНИЦИАТИВНОЙ ЛИЧНОСТИ - третья интеграция происходит в процессе сознательной орудийной приспособительной деятельности</p></li>
	<li><p>...в процессе сознательной орудийной приспособительной деятельности, диктуемой потребностями первого неосознанного Я</p></li>
	<li><p>..слова!!!</p></li>
	<li><p>У демонстранта - ..</p></li>
	<li><p>Результатом оказывается хронический конфликт воображаемой реальности с реальным собой и реальным внешним миром</p></li>
	<li><p>инициативной личности... .. приводит к становлеию личности</p></li>
	<li><p>2.6 Условия, побуждающие к приспособлению демонстранта и развивающуюся личность</p></li>
	<li><p>Демонстрант - .. /// Развивающаяся личность - ..</p></li>
	<li><p>во-первых, значимые для удовлетвореня его человеческих, а потом - биологических потребностей</p></li>
	<li><p>2.7 Предпочтение человеком общественных ценностей боилогическим и бесчеловечность лозунга "Дух - выше!"</p></li>
	<li><p>Человек, предпочитает ЦЕННОСТИ, ПРИОБРЕТЕННЫЕ в процессе общения, в процессе становления в качестве человека - ЦЕННОСТЯМ БИОЛОГИЧЕСКИМ</p></li>
	<li><p>ЧЕЛОВЕК ВСЕГДА ПРЕДПОЧИТАЕТ ОБЩЕСТВЕННЫЕ ЦЕННОСТИ ПРИРОДНЫМ</p></li>
	<li><p>Когда человек осознал себя участником своей общественной среды - он распрямляется до ОСОЗНАНИЯ ЦЕННОСТИ СВОИХ БИОЛОГИЧЕСКИХ ПРИРОДНЫХ ПОТРЕБНОСТЕЙ</p></li>
	<li><p>ЧЕЛОВЕК ВО-ПЕРВЫХ И ВСЕГДА "HOMO MORALIS" НРАВСТВЕННЫЙ, А ТОЛЬКО ПОТОМ "HOMO SAPIENS" - РАЗУМНЫЙ..</p></li>
	<li><p>..и что нравственное, общественное, а не разум - есть его специфика</p></li>
	<li><p>2.8 Физиология приспособления</p></li>
	<li><p>Всякая активность организма и деятельность человека, БЕЗРАЗЛИЧНАЯ ДЛЯ УДОВЛЕТВОРЕНИЯ ПОТРЕБНОСТЕЙ или МЕШАЮЩАЯ ИХ УДОВЛЕТВОРЕНИЮ</p></li>
	<li><p>..БЕЗРАЗЛИЧНАЯ ДЛЯ УДОВЛЕТВОРЕНИЯ ПОТРЕБНОСТЕЙ или МЕШАЮЩАЯ ИХ УДОВЛЕТВОРЕНИЮ, ТО ЕСТЬ "НАКАЗЫВАЕМАЯ" ПОВЫШЕНИЕМ ИЛИ СОХРАНИЕНИМ НЕУДОВЛЕТВОРЕННОСТИ...</p></li>
	<li><p>...ТО ЕСТЬ "НАКАЗЫВАЕМАЯ" ПОВЫШЕНИЕМ ИЛИ СОХРАНИЕНИМ НЕУДОВЛЕТВОРЕННОСТИ в процессе приспособления ЗАТРУДНЯЕТСЯ РЕГРЕССИРУЕТСЯ И ПРЕКРАЩАЕТСЯ</p></li>
	<li><p>Если за всми проявлениями деятельности человека и активности его организма, которые врач намарен ЗАКРЕПИТЬ</p></li>
	<li><p>ВСЕГДА СЛЕДУЕТ "ПООЩРЕНИЕ", ТО ЕСТЬ УДОВЛЕТВОРЕНИЕ ПОТРЕБНОСТЕЙ, то в процессе приспособления такие проявления скорее ФОРМИРУЮТСЯ И ЗАКРЕПЛЯЮТСЯ </p></li>
	<li><p>..я имею в виду попытки влиять на свое эмоциональное и физическое состояние, о которых в быту говорят "взять себя в руки", "успокоиться", "отвлечься", "не обращаь внимания", "не думать", "выкинуть из головы"...</p></li>
	<li><p>2.9 Выводы</p></li>
	<li><p>III. ПООЩРЕНИЕ, НАКАЗАНИЕ И ИХ СИГНАЛЫ</p></li>
	<li><p>3.1 Первое средство</p></li>
	<li><p>3.2 Врач в роли пощрения и наказания болезни</p></li>
	<li><p>3.3 Врач как сигнал здоровья</p></li>
	<li><p>3.4 Болезнь выздоравливания</p></li>
	<li><p>3.5 Неосознаваемое воздействие</p></li>
	<li><p>VI. ОБЩЕНИЕ КАК СРЕДСТВО ПСИХОТЕРАПИИ</p></li>
	<li><p>V. СИГНАЛЬНАЯ ДЕЯТЕЛЬНОСТЬ</p></li>
	<li><p>5.1 Чтобы понять психотерапию</p></li>
	<li><p>5.2 Сигнал</p></li>
	<li><p>..может произойти, а может и не произойти...</p></li>
	<li><p>5.3 Сигнализируемое событие</p></li>
	<li><p>Событие хотя бы однажды следовавшее за сигналом - есть сигнализируемое событие</p></li>
	<li><p>дети расплачиваются за ошибки родителей - пока не научатся их полезным для себя образом использовать, не повторять или пока не поймут их причин и не исправят</p></li>
	<li><p>ВИНЕГРЕТ, КОРОТЫЙ ГОТОВИЛА БАБУШКА</p></li>
	<li><p>..приготовившись во время чтения меню к выбранной нами пище, наш желудок часто оказывается неподготовленным к той, которой пришлось довольствоваться. А за столом не всегда успевает перестроиться!</p></li>
	<li><p>Сигнализируемое событие может не произойти. Реакция на сигнал тогда оказзывается неадекватной реальным обстоятельствам, неоправданной, лишенной приспособительного смысла.</p></li>
	<li><p>5.4 Сигнализируемая реакция</p></li>
	<li><p>Сигнализируемая реакция - реакция на явление, выступающее в качестве сигнала</p></li>
	<li><p>5.5 Сигнальное значение явления</p></li>
	<li><p>Сигнальное значение = Сигнализируемое явление + Сигнализируемая реакция</p></li>
	<li><p>Сигнальное значение слов симвлолв образов знаков - для всех более разное нежели общее. "Говорить на одном языке"</p></li>
	<li><p>Знакомиться со значением слов для другого человека</p></li>
	<li><p>5.6 Значимое явление</p></li>
	<li><p>VII. ПОТРЕБНОСТИ ВРОЖДЕННЫЕ-ПРИРОДНЫЕ, ПРИОБРЕТЕННЫЕ СОЦИОГЕННЫЕ, СЕКСУАЛЬНЫЕ</p></li>
	<li><p>VIII. ПОТРЕБНОСТИ В "СИГНАЛАХ ВОЗМОЖНОСТИ УДОВЛЕТВОРЕНИЯ" - ВТОРОЕ НАПРВЛЕНИЕ ФОРМИРОВАНИЯ ПОТРЕБНОСТЕЙ</p></li>
	<li><p>XI. ТРЕТЬЕ НАПРВЛЕНИЕ ФОРМИРОВАНИЯ ПОТРЕБНОСТЕЙ: ПОТРЕБНОСТИ В ДРУГОМ ЧЕЛОВЕКЕ. ФИЗИОЛОГИЧЕСКИЕ МЕХАНИЗМЫ</p></li>
	<li><p>X. МАУГЛИ ИЛИ УСЛОВИЯ ПРЕПЯТСТВУЮЩИЕ ВКЛЮЧЕНИЮ РЕБЕНКА В ЧЕЛОВЕЧЕСКУ СРЕДУ. ПОТРЕБНОСТИ В ОБЩЕСТВЕННЫХ УСЛОВИЯХ.</p></li>
	<li><p>XI. ВЫСШИЕ ЦЕННОСТИ. ПРИВЫЧНЫЙ СТЕРЕОТИП КАК ВЫСШАЯ ЦЕННОСТЬ</p></li>
	<li><p>XII. ЖИЗНЬ ПО ШПАРГАЛКЕ.Потребность в одобрении, препятствующая включению человека в человеческую среду. условия формирования. Демонстративность</p></li>
	<li><p>XIII.ВЫБОР. Об ориентировочно-оценочной деятельности в отношении собственных потребностей и их объектов, о рационалистической и демонстративной имитации выбора физиологические механизмы</p></li>
	<li><p>3.6 Установка на выздоровление</p></li>
	<li><p>Расплата - это конечный результат жизни на любом ее этапе</p></li>
	<li><p>Не удастся ди девушке теперь присоединиться к... себе первой, еще свободной от нужды всех покорять?</p></li>
	<li><p>Втайне жду, когда меня пожалеют и утешат</p></li>
	<li><p>Мама любит, скорее, не папу, а его любовь к себе</p></li>
	<li><p>Не умея ощущать не показываемое чувство к ней</p></li>
	<li><p>Несет жизнь с папой и вообще как обузу - все, чего в действительности хочет, - не знает </p></li>
	<li><p>Живет ради папы, ради детей, ради страны.. непременная обязанность, жертва</p></li>
	<li><p>Делает все, что положено жене, матери, инженеру.. точно в дочки-матери играет без смысла для себя. И, конечно, устает</p></li>
	<li><p>Не для себя же. И ждет благодарности за усилия, за усталость,за то, что жизнь - в прорву.</p></li>
	<li><p>Не матери она подражает, а ее сомнамбулическому двойнику. Вечному образу проштрафившейся "безгрешницы", которая загипнотизирована страхом осуждения мужем (и всем миром)</p></li>
	<li><p>..мама в своих обидах - маленькая и глупая девочка.</p></li>
	<li><p>Послушно подчиненная маминым обидам, им и угождая, дочь не чувствует и не понимает, что маме же будет лучше не от слепого следования ее (мамы) промахам...</p></li>
	<li><p>..Но если она - уже взрослая - пойдет "маме наперекор", но исправит все детские мамины ошибки своей, под свою ответственность самостоятельностью.</p></li>
	<li><p>Своим счастьем осуществит маму живую, обаятельную и любимую</p></li>
	<li><p>Подавляемое чувство подавляющей энергией усиливается</p></li>
	<li><p>Мужество являет себя в поступке, а не в чувстве</p></li>
	<li><p>Веди себя в соответствии со своими задачами, то есть вопреки ненужному чувству, постарайся... удержать, продлить, усилить страх, любое чувство, которое хочешь устранить</p></li>
	<li><p>Этим ты истощишь его энергию, израсходуешь (вместо того, чтобы усилить борьбой с ним)</p></li>
	<li><p>Когда хочешь, но не можешь залить костер, раздуй его, чтобы он логорел быстрее.</p></li>
	<li><p>Не грустнее ли болезни выздоровление?! Когда впереди - никого... Поэтому мы часто совсем не спешим вылечиться?!</p></li>
	<li><p>Она двинула на нас тяжелую артиллерию сообщений о перенесенных ею утратах</p></li>
	<li><p>Психология пресмыкающихся за еду рабов</p></li>
	<li><p>наполнять придуманным содержанием</p></li>
	<li><p>Со всей силой своего неистового темперамента и упорства втискавала себя в эту хорошесть, но не могла втиснуть</p></li>
	<li><p>тошнит от скучных, "воспитанных", нарисованных, полудохлых цац</p></li>
	<li><p>Не прикрытая позой жизнь</p></li>
	<li><p>Я и другие люди есть</p></li>
	<li><p>Почему вы ищете не отношений с равным вам человеком, а убогого, которого надо спасать, самоутверждаясь за его счет?</p></li>
</ul>

<h2>VI. О ВЛИЯНИИ НА СИГНАЛЬНУЮ ДЕЯТЕЛЬНОСТЬ ИСТОЧНИКА СИГНАЛОВ</h2>
<ul>
	<li><p>VI. О ВЛИЯНИИ НА СИГНАЛЬНУЮ ДЕЯТЕЛЬНОСТЬ ИСТОЧНИКА СИГНАЛОВ</p></li>
	<li><p>Путанье желаемого с действительным безответственными учителями обходится ТРАГЕДИЕЙ НЕПОДГОТОВЛЕННОЙ ВЫПЛЮНУТОСТИ В ЖИЗНЬ многим искреннейшим выпускникам школ.</p></li>
	<li><p>Встресаясь с отличной от желаемого реальностью - они разочаровываются, ломаются.</p></li>
	<li><p>Непонимание учителем своей роли выбрасывает в жизнь хлипких разочарованных и стесняющихся желать скептиков, циников, ранних стариков, либо лицемеров и фанатично окрыленных борцов  "за справедливость"</p></li>
	<li><p>..ничего вокруг не видящих, почитающих всех отступниками и со всеми воюющих ни за себя, ни за кого - за абстракцию, не интересующуюся раельными нуждами живых людей.</p></li>
	<li><p>Моральный кодекс...</p></li>
	<li><p>Свое появление на свет я почитаю чрезвычайным везением и сомненью этот факт не подлежит</p></li>
	<li><p>Но с тех пор я знаю, что, не веря, как и все, в приметы, я их сам того не сознавая, привычно боюсь</p></li>
	<li><p>Что они сигнализируют мне, ВОПРЕКИ МОЕМУ МЫСЛЕННОМУ РАВНОДУШИЮ К НИМ, необоснованную объективно, но, тем не менее, ВОСПИТАННУЮ В БЫТОВЫХ ПРЕДРАССУДКАХ, НЕПРЕМЕННУЮ И НЕОСОЗНАВАЕМУЮ МНОЙ ТРЕВОГУ.</p></li>
	<li><p>С тех пор я чаще действую вопрек этой тревоге. Переделываю сигнальное значение предрассудков для себя.</p></li>
	<li><p>Но никогда больше не путаю своего МЫСЛЕННОГО ЗНАНИЯ с ВОСПИТАННЫМИ ВО МНЕ БЕЗ МОЕГО СОГЛАСИЯ И ВЕДОМА СИГНАЛЬНЫМИ ЗНАЧЕИЯМИ ЗАБЛУЖДЕНИЙ, КОТОРЫХ Я УМОМ НЕ РАЗДЕЛЯЮ, А ЭМОЦИОНАЛЬНО, СЕРДЦЕМ, НЕ ВЕДАЯ ТОГО, БОЮСЬ.</p></li>
	<li><p>Теперь всегда веду себя с учетом этой известной мне, но по-прежнему не сознаваемой мной боязни.</p></li>
	<li><p>Это был еще и рассказ о событиях, служащих сигналами такИх последствий, в объективной, независимой от индивида, причинно-следственной свзи с которыми ЭТИ СОБЫТИЯ НЕ СТОЯЛИ, НЕ СОТЯТ И СТОЯТЬ НЕ БУДУТ.</p></li>
	<li><p>Такие явления и события, которые сигнализируют нам то, к чему они отношения не имеют - ОБЫЧНО НАЗЫВАЮТ ПРЕДРАССУДКАМИ.</p></li>
	<li><p>Но столб-то здесь причем? Чем может он испорить отношения, которых нет?</p></li>
	<li><p>Что прибавит к существующим отношениям пугливое хождение по одну сторону от него?</p></li>
	<li><p>НЕ ВЕРИТЬ В ПРИМЕТЫ - ВОВСЕ НЕ ЗНАЧИТ ДЕКЛАРИРОВАТЬ ЭТО И С НЕОСОЗНАННЫМ СТРАХОМ ДЕЙСТВОВАТЬ ИМ ВОПРЕКИ.</p></li>
	<li><p>НЕ ЗНАЧИТ НЕОСОЗНАННОЙ ЖЕ ТРЕВОГОЙ ДЕОРГАНИЗОВАТЬ СВОЮ ДЕЯТЕЛЬНОСТЬ В ЗНАЧИМЫХ СИТУАЦИЯХ</p></li>
	<li><p>А ПОТОМ, ПОВСТРЕЧАВ ПУСТЫЕ ВЕДРА И ПОЛУЧИВ НА ЭКЗАМЕНЕ ДВОЙКУ ТАЙНО ДАЖЕ ОТ СЕБЯ В ПРИМЕТУ ПОВЕРИТЬ. Вместо подготовки к сессии искать дорогу без ведер.</p></li>
	<li><p>НЕ ВЕРИТЬ В ПРИМЕТЫ ОЗНАЧАЕТ: ВО-ПЕРВЫХ, ЗНАТЬ, ВО-ВТОРЫХ И В-ТРЕТЬИХ, ТОЖЕ ЗНАТЬ.</p></li>
	<li><p>ВО-ПЕРВЫХ, ЗНАТЬ, В КАКИЕ ПРИМЕТЫ ТЕБЯ НАУЧИЛИ ВЕРИТЬ..</p></li>
	<li><p>ВО-ПЕРВЫХ, ЗНАТЬ, В КАКИЕ ПРИМЕТЫ ТЕБЯ НАУЧИЛИ ВЕРИТЬ ЗАВИСЯЩИМ ОТ ЭТИХ ПРИМЕТ ПОСТУПКОМ И НАСТРОЕНИЕМ В РАННЕМ ДЕТСТВЕ</p></li>
	<li><p>ТО ЕСТЬ ВО ЧТО СУЕВЕРНО И НЕСУЕВЕРНО, НО ПРОСТО ПО ОШИБКЕ ВЕРИЛИ АВТОРИТЕТНЫЕ ДЛЯ ТЕБЯ ВОСПИТАТЕЛИ</p></li>
	<li><p>ВО-ВТОРЫХ, ЗНАТЬ, ЧТО ДУРНЫЕ ПРИМЕТЫ, КОТОРЫЕ ТЫ ЗАМЕТИЛ, НА КОТОРЫЕ ОБРАТИЛ ТВОЕ ВНИМАНИЕ КТО-ТО, - ПРИВЫЧНО ВЫЗЫВАЮТ ТВОЮ ТРЕВОГУ</p></li>
	<li><p>И ТЕМ БОЛЬШУЮ, ЧЕМ МЕНЬШЕ ТЫ ОТДАЕШЬ СЕБЕ В НЕЙ ОТЧЕТ..</p></li>
	<li><p>..ЧЕМ БОЛЬШЕ КИЧИШЬСЯ (ОТ ПОДХЛЕСТЫВАЮЩЕГО ТАЙНОГО СТРАХА) СВОИМ НЕВЕРИЕМ..</p></li>
	<li><p>..ЧЕМ БОЛЬШЕ ХОЧЕШЬ СЕБЯ В НЕВЕРИИ УБЕДИТЬ</p></li>
	<li><p>ЭТА НЕОСОЗНАННАЯ ТРЕВОГА, НАСТОРОЖЕННОСТЬ ЛИШАЕТ ПОВЕДЕНИЕ НЕПРИНУЖДЕННОСТИ, ПЛАВНОСТИ.</p></li>
	<li><p>ДЕЛАЕТ ЕГО БОЛЕЕ ДЕРГАННЫМ, ЛЕГКО СРЫВАЮЩИМСЯ ОТ МАЛЕЙШЕЙ СЛУЧАЙНОСТИ, ПОМЕХИ.</p></li>
	<li><p>ЭТО РЕАЛИЗАЦИЯ "СКРЫТОЙ ДОМИНАНТЫ"</p></li>
	<li><p>ЛЮБАЯ ОШИБКА ТОГДА ВЫЗЫВАЕТ НЕСООТВЕТСТВУЮЩУЮ ЕЕ (ОШИБКИ) ОБЪЕКТИВНОЙ ЗНАЧИМОСТИ ЭМОЦИОНАЛЬНУЮ РЕАКЦИЮ.</p></li>
	<li><p>РАССТРАИВАЕТ ДЕЯТЕЛЬНОСТЬ ВКОНЕЦ</p></li>
	<li><p>И ВОТ ТЕПЕРЬ, КОГДА ПОСЛЕ "ДЕЙСТВИЯ" ДУРНОЙ ПРИМЕТЫ, ВЫЗВАННАЯ ЕЮ НЕОСОЗНАННАЯ ТРЕВОГА, ЛИШИЛА ПОВЕДЕНИЕ ПЛАВНОСТИ... </p></li>
	<li><p>..КОГДА ПОТОМ СЛУЧАЙНАЯ, ЧАСТО НЕСУЩЕСТВЕННАЯ ОШИБКА, ИНОГДА НЕИЗБЕЖНАЯ МЕЛОЧЬ...</p></li>
	<li><p>..КОГДА ПОТОМ СЛУЧАЙНАЯ, ЧАСТО НЕСУЩЕСТВЕННАЯ ОШИБКА, ИНОГДА НЕИЗБЕЖНАЯ МЕЛОЧЬ, НАПУГАВ, ВЫЗВАВ ПАНИКУ РАССТРОИЛА ДЕЯТЕЛЬНОСТЬ ТВОЮ ВКОНЕЦ</p></li>
	<li><p>..КОГДА ТЫ, В ЗАКЛЮЧЕНИЕ ОКАЗЫВАЕШЬСЯ НЕСОСТОЯТЕЛЬНЫМ (ПОЛУЧАЕШЬ ДВОЙКУ), ТОГДА ТОЛЬКО ДУРНАЯ ПРИМЕТА... </p></li>
	<li><p>Когда ты, в заключение, оказываешься несостоятельным (получаешь двойку) - ТОГДА ТОЛЬКО дурная примета ВО ВРЕМЕНИ ПРЕДШЕСТВОВАВШАЯ ТВОЕЙ КАТАСТРОФЕ...</p></li>
	<li><p>..ТОГДА ТОЛЬКО дурная примета ВО ВРЕМЕНИ ПРЕДШЕСТВОВАВШАЯ ТВОЕЙ КАТАСТРОФЕ - осознается тобой В КАЧЕСТВЕ СИГНАЛА (!) ЭТОЙ КАТАСТРОФЫ. И ошибочно принимается за ее причину.</p></li>
	<li><p>НЕ ВЕРИТЬ В ДУРНЫЕ ПРИМЕТЫ - ЗНАЧИТ ЗНАТЬ, ЧТО... ТЫ В НИХ ВЕРИШЬ</p></li>
	<li><p>Не верить в приметы, значит, знать, что ВЛИЯНИЕ СИГНАЛОВ НА НАС НЕ ОТМЕНЯЕТСЯ СЛОВОМ "НЕ ВЕРЮ"</p></li>
	<li><p>ОСУЩЕСТВЛЕНИЕ НЕВЕРИЯ БЕЗ ВРЕДА ДЛЯ СЕБЯ ТРЕБУЕТ:</p></li>
	<li><p>ВО-ПЕРВЫХ, ОТКРЫТИЯ, ЧТО ДУРНЫЕ ПРИМЕТЫ, ***И НЕ ОТРАЖАЯ ДЕЙСТВИТЕЛЬНОГО ПОЛОЖЕНИЯ ДЕЛ*** ВЫЗЫВАЮТ (!) СИГРАЛИЗИРУЕМЫЕ (!) РЕАКЦИИ (!) И (!) ПОМИМО (!) НАШЕГО (!) ПРОИЗВОЛА!!!</p></li>
	<li><p>ВО-ВТОРЫХ, СОЗНАТЕЛЬНОЙ ГОТОВНОСТИ К ВОЗНИКНОВЕНИЮ ВЫЗЫВАЮЩИХ ОПАСЕНИЕ СИГНАЛИЗИРУЕМЫХ РЕАКЦИЙ, С ТЕМ, ЧТОБЫ ДОВЕСТИ НАШЕ ПОВЕДЕНИЕ ДО ЖЕЛАЕМОГО РЕЗУЛЬТАТА, ВОПРЕКИ ИХ ВЛИЯНИЮ</p></li>
	<li><p>В-ТРЕТЬИХ, ТЕМ САМЫМ, ПРИОБРЕСТИ ОСОЗНАННЫЙ ОПЫТ НЕЗАВИСИМОСТИ НАШЕГО СОСТОЯНИЯ И РЕЗУЛЬТАТОВ ПОВЕДЕНИЯ ОТ ВЛИЯНИЯ ЭТИХ ЯВЛЕНИЙ, БЫВШИХ СИГНАЛАМИ ТРЕВОГИ. В ДЕЙСТВИТЕЛЬНОСТИ ЛИШИТЬ ИХ СИГНАЛЬНОГО ЗНАЧЕНИЯ.</p></li>
	<li><p>Невольная подтасовка давала ощущение фатальной неизбежности (Г.А.)</p></li>
	<li><p>Невольная подтасовка отразила и неосознанно чувствуемую мной несостоятельность наших отношений.</p></li>
	<li><p>Интуиция нас не подвела</p></li>
	<li><p>Интуиция гениально все подтасовала. И героическую спасительную позу нашла и карты разложила, и суеверие оказалось кстати</p></li>
	<li><p>Не знал я и что поза благодетеля опасна - удаляет от людей в скит высокомерия.</p></li>
	<li><p>..идя на экзамен неподготовленными дурные приметы мы чуть ли не выискиваем...</p></li>			
	<li><p>..ЧТОБЫ ОПРАВДАТЬ НАШУ НЕУДАЧУ НЕЗАВИСЯЩИМИ ОТ НАС ПРИЧИНАМИ</p></li>
	<li><p>ЧТОБЫ ОБЛЕГЧИТЬ ТЯГОСТНОЕ ЧУВСТВО СОБСТВЕННОЙ НЕСОСТОЯТЕЛЬНОСТИ.</p></li>
	<li><p>ЧТОБЫ НЕ ВЫХОДИТЬ ИЗ ТУМАНА</p></li>
	<li><p>ЮНОШЕСКОЕ, ТОЧНЕЕ ПОДРОСТКОВОЕ НЕУМЕНИЕ УДИВЛЯТЬСЯ РЕАЛЬНОСТИ</p></li>
	<li><p>ЕЩЕ НЕОТКРЫТИЕ НИ ЕЕ (РЕАЛЬНОСТИ), НИ СЕБЯ</p></li>
	<li><p>..вне слов, фантазий и блеклых, броских выдумок романтизма...</p></li>
	<li><p>..подспудная тоска по утраченому, на время в детстве оставленному удивлению - ЖИВЕТ И ПРОЯВЛЯЕТ СЕБЯ ЖАЖДОЙ ЧУДА, (!) ЧАСТО МИСТИЧЕСКОГО (!)</p></li>
	<li><p>ЮНОШЕСКОЕ, ТОЧНЕЕ ПОДРОСТКОВОЕ НЕУМЕНИЕ УДИВЛЯТЬСЯ РЕАЛЬНОСТИ, ЕЩЕ НЕОТКРЫТИЕ НИ ЕЕ (РЕАЛЬНОСТИ), НИ СЕБЯ ..вне слов, фантазий и блеклых, броских выдумок романтизма ..подспудная тоска по утраченому, на время в детстве оставленному удивлению - ЖИВЕТ И ПРОЯВЛЯЕТ СЕБЯ ЖАЖДОЙ ЧУДА, ЧАСТО МИСТИЧЕСКОГО</p></li>
	<li><p>ЮНОШЕСКОЕ НЕУМЕНИЕ УДИВЛЯТЬСЯ РЕАЛЬНОСТИ, ЕЩЕ НЕОТКРЫТИЕ НИ РЕАЛЬНОСТИ, НИ СЕБЯ вне слов, фантазий и блеклых, броских выдумок романтизма ..подспудная тоска по утраченому, на время в детстве оставленному удивлению - ЖИВЕТ И ПРОЯВЛЯЕТ СЕБЯ ЖАЖДОЙ ЧУДА, ЧАСТО МИСТИЧЕСКОГО</p></li>
	<li><p>Отказ от суеверий для последовательного человека требует ОТКАЗА ОТ ВОЗМОЖНОСТИ ТАКОГО ЧУДА, ОТ ВОЗМОЖНОСТИ МИСТИЧЕСКОЙ ТАЙНЫ.</p></li>
	<li><p>Этот отказ от возможности чуда до открытия мира реальности, мира для удивления неисчерпаемого - ОЧЕНЬ ТРУДЕН И ВСЕГДА БОЛЕЗНЕН.</p></li>
	<li><p>Тают отроческие тайны <br> Как туманы на берегах</p></li>
	<li><p>Сигнализируемая отказом от суеверий БОЛЬ ОТКАЗА ОТ ВОЗМОЖНОСТИ ЧУДА ПРЕПЯТСТВУЕТ ТРЕВОГОЙ, ЭМОЦИОНАЛЬНОМУ РАЗВЕНЧАНИЮ СУЕВЕРИЙ.</p></li>
	<li><p>Так и проживают многие, сохранив эту игрушку на всю жизнь, часто платя за нее ЖЕСТОЧАЙШЕЙ ЗАПРОГРАММИРОВАННОСТЬЮ, ПРЕДОПРЕДЕЛЕННОСТЬЮ СВОЕЙ ЖИЗНИ, НЕВЛАСТНОСТЬЮ В НЕЙ</p></li>
	<li><p>О ГЛУБОКОЙ ПСИХОЛОГИЧЕСКОЙ ПОЧВЕ ДЛЯ СОХРАНЕНИЯ СУЕВЕРИЙ.</p></li>
	<li><p>Суеверие является как бы признаком и залогом НАЛИЧИЯ СИЛ ПО СВОЕМУ ПРОИЗВОЛУ ИГРАЮЩИХ НАМИ.</p></li>
	<li><p>РОК, СУДЬБА, БОГ, НАСЛЕДСТВЕННОСТЬ В ЕЕ САМОМ НЕВЕЖЕСТВЕННОМ, ПРЕДОПРЕДЕЛЯЮЩЕМ ПОНИМАНИИ, ОБСТОЯТЕЛЬСТВА ДЛЯ ПОЗЁРА.</p></li>
	<li><p>РАБСТВО ПО ОТНОШЕНИЮ К НИМ, КОНЕЧНО, ТЯГОСТНО.</p></li>
	<li><p>И МЫ УСТРАИВАЕМ ИГРУШЕЧНЫЕ, ДЕТСКИЕ, ХОТЯ ЧАСТО И ТРАГИЧЕСКИЕ БУНТЫ.</p></li>
	<li><p>СЛОВНО ПРОСИМ СОХРАНИТЬ И НЕПРЕМЕННО СОХРАНИТЬ РАБСТВО, НО НА ДРУГИХ В НЕСУЩЕСТВЕННОМ УСЛОВИЯХ.</p></li>
	<li><p>ИЛИ ЧТОБЫ ОНО ВЫГЛЯДЕЛО СВОБОДОЙ.</p></li>
	<li><p>МЫ ТЕШИМ В ЭТИХ ИГРАХ СЕБЯ ОЩУЩЕНИЕМ БОРЬБЫ И ПОЗОЙ ЛИЧНОГО ГЕРОИЗМА.</p></li>
	<li><p>РАБСТВО ПРЕДОПРЕДЕЛЕННОСТИ ТЯГОСТНО.</p></li>
	<li><p>НО СВОБОДА ОЗНАЧАЕТ ОТВЕТСТВЕННОСТЬ, А ОТВЕТСТВЕННОСТЬ, НЕИЗВЕСТНОСТЬ, РИСК - ПУГАЮТ НАС ЧАСТО БОЛЬШЕ, ЧЕМ РАБСТВО.</p></li>
	<li><p>ОТКАЗ ОТ СУЕВЕРИЙ ГРОЗИТТ ОТКРЫТИЕМ, ЧТО НЕТ ПОТУСТОРОННИХ ПРАВЯЩИХ ТОБОЙ, ПОРАБОЩАЮЩИХ ТЕБЯ, НО И ОПРАВДЫВАЮЩИХ (!) ТВОИ ДЕЙСТВИЯ СИЛ.</p></li>
	<li><p>ОТКАЗ ОТ СУЕВЕРИЙ ГРОЗИТ (СИГНАЛИЗИРУЕТ) ОБНАРУЖЕНИЕМ СВОБОДЫ ВЫБИРАТЬ</p></li>
	<li><p>РЕШАТЬ И ПОСТУПАТЬ БЕЗ ДАННЫХ КЕМ-ТО АПРИОРНЫХ ГАРАНТИЙ. ГРОЗИТ ОТВЕТСТВЕННОСТЬЮ ЗА БУДУЩИЕ РЕЗУЛЬТАТЫ ТВОИХ ДЕЛ ДЛЯ СЕБЯ, ДЛЯ ДРУГИХ.</p></li>
	<li><p>СТРАХ СТАНОВИТЬСЯ ВЗРОСЛЫМ, ТО ЕСТЬ ОТВЕТСТВЕННЫМ, СОЗДАЕТ ПОЧВУ ДЛЯ СОХРАНЕНИЯ СУЕВЕРИЙ, АВТОМАТИЧЕСКИ ПОДМЕНЯЮЩИХ ОТВЕТСТВЕННОСТЬ ИГРОЙ В НЕЕ.</p></li>
	<li><p>ОТВЕТСТВЕННОСТЬ - ЭТО СВОБОДА. НО ТОГДА НИКАКОЙ ПАПА УЖЕ ЗА ТЕБЯ НИЧЕГО НЕ РЕШИТ</p></li>
	<li><p>ОБ ОСОЗНАННОЙ ОТВЕТСТВЕННОСТИ, ИНИЦИАТИВЕ, СПОСОБНОСТИ К НЕОБХОДИМОМУ РИСКУ. О СВОБОДЕ, НЕОБХОДИМОСТИ, ВЫБОРЕ</p></li>
	<li><p>ПРИВЫЧКА СТАВИТЬ ВОПРОСЫ НЕ ДЛЯ НЫТЬЯ И СЕТОВАНИЙ НА ИХ НЕРАЗРЕШИМОСТЬ - ПОБУДИЛА НА НИХ ОТВЕЧАТЬ.</p></li>
</ul>

<h2>********ПОТРЕБНОСТИ: ВРОЖДЕННЫЕ - ПРИРОДНЫЕ, ПРИОБРЕТЕННЫЕ - СОЦИОГЕННЫЕ, СЕКСУАЛЬНЫЕ**********</h2>
<ul>
	<li><p>********ПОТРЕБНОСТИ: ВРОЖДЕННЫЕ - ПРИРОДНЫЕ, ПРИОБРЕТЕННЫЕ - СОЦИОГЕННЫЕ, СЕКСУАЛЬНЫЕ**********</p></li>
	<li><p>человек может по тем или иным причинам отказаться от деятельности по удовлетворению потребности</p></li>
	<li><p>напряженность может не реализоаться полезной деятельностью</p></li>
	<li><p>утрата перспективы реализовать потребность</p></li>
	<li><p>биологическая потребность бывает только в том, что в природе есть</p></li>
	<li><p>подлинная потребность - это всегда потребность в возможных или БЫВШИХ ВОЗМОЖНЫМИ и поэтому ПЕРЕЖИВАЕМЫХ ВОЗМОЖНЫМИ условиямм</p></li>
	<li><p>освоенная практически невозможность - это смерть потребности</p></li>
	<li><p>освоенная практически невозможность - конец страданию, ВЫЗЫВАВШЕМУСЯ ЕЕ НЕУДОВЛЕТВОРЕННОСТЬЮ</p></li>
	<li><p>объект потребности</p></li>
	<li><p>утрата потребности</p></li>
	<li><p>то, чтоположено отдать боли</p></li>
	<li><p>"выкинуть из головы" потребность от этого не утрачивается (симорон: запрет-разрешение)</p></li>
	<li><p>НЕОСОЗНАННАЯ НЕУДОВЛЕТВОРЕННОСТЬ</p></li>
	<li><p>ВЫТЕСНЕННАЯ НЕУДОВЛЕТВОРЕННОСТЬ</p></li>
	<li><p>...УХОДИТ В ПОДПОЛЬЕ И ОТТУДА ВЕДЕТ ДИВЕРСИОННУЮ ДЕЯТЕЛЬНОСТЬ...</p></li>
	<li><p>"может у меня рак?!"... "А может инфаркт?!"... "А может я с ума схожу?!"... Приходят наконец мысли о смысле жизни.. "Зачем живут?!"..."Чему радуются?!"..."А я зачем?!"..."Жить не хочется!" </p></li>
	<li><p>этих незнакомых мыслей пугаешься</p></li>
	<li><p>пытаешься прогнать</p></li>
	<li><p>ОТВЛЕКАЕШЬСЯ НАВЯЗЧИВОСТЯМИ</p></li>
	<li><p>УТРАТА ПОТРЕБНОСТИ - ЭТО НЕ ТОЛЬКО ИЗБАВЛЕНИЕ ОТ БОЛИ</p></li>
	<li><p>НО И ОТКРЫТИЕ САМОГО СЕБЯ В СВОЕЙ НЕИСЧЕРПАЕМОСТИ, СПОСОБНОСТИ МЕНЯТЬСЯ</p></li>
	<li><p>НЕМИНУЕМУЮ БОЛЬ НАДО ДОЖИВАТЬ ДО КОНЦА</p></li>
	<li><p>ДИПЛОМАТИЯ ТАЙНОГО ГОЛОДА</p></li>
	<li><p>"УДОВЛЕТВОРЯТЬ" ПОТРЕБНОСТЬ, КОТОРАЯ УЖЕ УДОВЛЕТВОРЕНА</p></li>
	<li><p>"УДОВЛЕТВОРЯТЬ" ВЫДУМАННУЮ ПОТРЕБНОСТЬ</p></li>
	<li><p>НЕ УДОВЛЕТВОРЯТЬ ПОТРЕБНОСТЬ, КОТОРАЯ НЕ УДОВЛЕТВОРЕНА</p></li>
	<li><p>НЕ УДОВЛЕТВОРЯТЬ ПОТРЕБНОСТЬ, О КОТОРОЙ НЕ ЗНАЕШЬ</p></li>
	<li><p>МЫ НЕ ЗНАЕМ, ЧТО ДВИЖЕТ НАМИ</p></li>
</ul>


<h2>********VIII. ПОТРЕБНОСТИ В СИГНАЛАХ ВОЗМОЖНОСТИ УДОВЛЕТВОРЕНИЯ************</h2>
<ul>
	<li><p>********VIII. ПОТРЕБНОСТИ В СИГНАЛАХ ВОЗМОЖНОСТИ УДОВЛЕТВОРЕНИЯ************</p></li>
	<li><p>залог, возможность достижения</p></li>
	<li><p>само состояние внутренней напряженности - залог возможности удовлетворения</p></li>
	<li><p>потребность в напряженности</p></li>
	<li><p>невротические состояния - способ удовлетворения потребности в напряженности</p></li>
	<li><p>потребность в сохранении эмоционального тонуса</p></li>
	<li><p>до того как выздоравливающего захватила жизнь</p></li>
	<li><p>существенно для сексолога</p></li>
	<li><p>увлеченность своим "умиранием"</p></li>
	<li><p>"вытесненная" потребность</p></li>
	<li><p>хроническая неудовлетворенность</p></li>
	<li><p>потребность в напряженности</p></li>
</ul>

<h2>*******ПОТРЕБНОСТИ В ДРУГОМ ЧЕЛОВЕКЕ*********</h2>
<ul>
	<li><p>*******ПОТРЕБНОСТИ В ДРУГОМ ЧЕЛОВЕКЕ*********</p></li>
	<li><p>среда</p></li>
	<li><p>человек - условие существования</p></li>
	<li><p>мама - первый представитель людей</p></li>
	<li><p>сломать ребенка</p></li>
	<li><p>вольные дети - у вольных мам</p></li>
	<li><p>практически девственник</p></li>
	<li><p>условия восстановления "выпавших" функций</p></li>
	<li><p>потребность в заботе о другом</p></li>
	<li><p>ненависть голодного к пище</p></li>
	<li><p>а за что его любить?</p></li>
	<li><p>Сформированность потребности в других людях</p></li>
	<li><p>Сформированность потребности в существовании других людей и сотрудничестве с ними</p></li>
	<li><p>Сформированность потребности в общении с другими людьми</p></li>
	<li><p>Сформированность потребности в организации своей человеческой среды, побуждающим ее к сотрудничеству образом</p></li>
	<li><p>Неприспособленный к своей человеческой среде</p></li>
	<li><p>Невключенный в свою человеческую среду</p></li>
	<li><p>Противопоставленный своей человеческой среде</p></li>
	<li><p>Потребность в понимании целей других людей и способов их (целей) достижения</p></li>
	<li><p>Потребность в понимании другими людьми твоих целей</p></li>
	<li><p>Потребность в приятии тебя</p></li>
	<li><p>Потребность в признании как залоге сотрудничества</p></li>
	<li><p>опять пришла моя тоска</p></li>
	<li><p>страх, внушающий преступление</p></li>
	<li><p>мать для младенца - необходимое условие удовлетворения почти всех врожденных потребностей и выживания</p></li>
	<li><p>человек - условие существования</p></li>
	<li><p>мама - первый представитель людей</p></li>
	<li><p>демонстративно залюбливающая</p></li>
	<li><p>мама - первая человеческая среда</p></li>
	<li><p>приобщать к людской среде</p></li>
	<li><p>подменив воспитание дрессурой</p></li>
</ul>

<h2>МАУГЛИ ИЛИ УСЛОВИЯ, ПРЕПЯТСТВУЮЩИЕ ВКЛЮЧЕНИЮ РЕБЕНКА В ОБЩЕСТВЕННУЮ СРЕДУ</h2>
<ul id="slides1">
	<li><p>МАУГЛИ ИЛИ УСЛОВИЯ, ПРЕПЯТСТВУЮЩИЕ ВКЛЮЧЕНИЮ РЕБЕНКА В ОБЩЕСТВЕННУЮ СРЕДУ</p></li>
	<li><p>человеческий детеныш - человек только в возможности</p></li>
	<li><p>вопросы о смысле - пользе</p></li>
	<li><p>для кого?! для чего?!</p></li>
	<li><p>потребность иметь цель</p></li>
	<li><p>потребность быть причастным</p></li>
	<li><p>потребность в признании</p></li>
	<li><p>признание того общества, потребность в котором у нас не сформирована</p></li>
	<li><p>бирюк</p></li>
</ul>

<h2>******ВЫСШИЕ ЦЕННОСТИ. ПРИВЫЧНЫЙ СТЕРЕОТИП КАК ВЫСШАЯ ЦЕННОСТЬ*********</h2>
<ul>
	<li><p>******ВЫСШИЕ ЦЕННОСТИ. ПРИВЫЧНЫЙ СТЕРЕОТИП КАК ВЫСШАЯ ЦЕННОСТЬ*********</p></li>
	<li><p>сознание</p></li>
	<li><p>цель как разрешающий фактор</p></li>
	<li><p>постановка цели как сигнал возможности удовлетворения</p></li>
	<li><p>постановка цели, хотя бы ложной...</p></li>
	<li><p>привычный стереотип. навязчивости</p></li>
	<li><p>навязчивости - это результат страха их иметь</p></li>
	<li><p>страх за жизнь, страх сойти с ума, страх покончить с собой</p></li>
	<li><p>ИЛЛЮЗИЯ ВЛЕЧЕНИЯ и страх - результат желания их не иметь</p></li>
	<li><p>как избавиться от родной жены</p></li>
	<li><p>привычное как высшая ценность</p></li>
	<li><p>привычное (ПРИВЫЧНЫЙ СТЕРЕОТИП) - как залог сохранения ценнейшего</p></li>
	<li><p>привычное (ПРИВЫЧНЫЙ СТЕРЕОТИП) - как сигнал возможности реализации широкого круга потребностей</p></li>
	<li><p>сохранение привычного стереотипа</p></li>
	<li><p>тогда новое (УГРОЗА СТЕРЕОТИПУ) - сигнал утраты возможности реализации</p></li>
	<li><p>СТРАХ САМОГО СЕБЯ</p></li>
	<li><p>ударить</p></li>
	<li><p>ЛОЖНЫЕ, ЧАСТО НАИБОЛЕЕ ПУГАЮЩИЕ ОБЪЯСНЕНИЯ, ТОЛКОВАНИЯ</p></li>
	<li><p>НА ОСНОВАНИИ ЭТИХ ПУГАЮЩИХ ТОЛКЛВАНИЙ СТРОИТСЯ ОШИБОЧНОЕ, НЕАДЕКВАТНОЕ ДЕЙСТВИТЕЛЬНОСТИ РЕАГИРОВАНИЕ И ПОВЕДЕНИЕ</p></li>
	<li><p>САМ ФАКТ НАЛИЧИЯ ОБЪЯСЕНИЯ</p></li>
	<li><p>непонимание своих эмоциональных состояний и посторонние неадекватного им поведения</p></li>
	<li><p>ложно объяснять и обосновывать, выстраивая последовательную систему невротического поведения, ЗАКРЕПЛЯЮЩУЮ НЕВРОТИЧЕСКУЮ СИМПТОМАТИКУ</p></li>
	<li><p>самооберегание</p></li>
	<li><p>попытки "отвлечься"</p></li>
	<li><p>в роли сигнала возможности удовлетворения выступает не содержание объяснения, а САМ ФАКТ НАЛИЧИЯ ТАКОГО ОБЪЯСНЕНИЯ</p></li>
	<li><p>УГРОЗА ПРИВЫЧНОМУ СТЕРЕОТИПУ ОСОЗНАЕТСЯ КАК УГРОЗА НАИБОЛЕЕ ЦЕННОМУ, КАК СТРАХ ПОТЕРИ ЭТОГО ЦЕННОГО</p></li>
	<li><p>жуткий страх смерти от "инфаркта"</p></li>
	<li><p>страх неизлечимого заболевания, рака, смерти</p></li>
	<li><p>мысли о бессмысленности существования</p></li>
	<li><p>мысли о самоубийстве</p></li>
	<li><p>страх убить своих детей</p></li>
	<li><p>страх сойти с ума</p></li>
	<li><p>ложные объяснения обусловливали неадекватное реагирование, способствующее развитию и фиксации симптоматики невроза</p></li>
	<li><p>выдумываются или создаются ложные сигнальные связи сигнализируемых состояний с объективно не относящимся к ним явлениям</p></li>
	<li><p>привычное перестало быть сигналом возможности реализации всех сознаваемых нужд и залогом сохранения ценнейшего</p></li>
</ul>

<h2>******ЖИЗНЬ ПО ШПАРГАЛКЕ*********</h2>
<ul>
	<li><p>******ЖИЗНЬ ПО ШПАРГАЛКЕ*********</p></li>
	<li><p>ЛИЧНОСТЬ - ИНДИВИДУАЛЬНЫЙ СПОСОБ МЕНЯТЬСЯ</p></li>
	<li><p>НЕРЕАЛИЗОВАННОСТЬ ПОТОРЕБНОСТЕЙ</p></li>
	<li><p>ТРУД УТВЕРЖДАТЬ СЕБЯ НЕСУЩЕСТВУЮЩЕГО</p></li>
	<li><p>ОТЧУЖДЕНИЕ ОКРУЖАЮЩИХ</p></li>
	<li><p>"НИЧЕГОНЕХОТЕНИЕ" ДЕМОНСТРАНТА</p></li>
	<li><p>ВОСПИТАНИЕ КАЛЕЧАЩЕЕ РЕБЕНКА В ДЕМОНСТРАНТА</p></li>
	<li><p>препятствовать фомированию из ребенка человека</p></li>
	<li><p>задерживать включение человека в человеческую среду</p></li>
	<li><p>человечесая "недосформированность"</p></li>
	<li><p>недоросль</p></li>
	<li><p>НЕСФОРМИРОВАННОСТЬ ПОТРЕБНОСТЕЙ</p></li>
	<li><p>НЕСФОРМИРОВАННОСТЬ НАВЫКОВ</p></li>
	<li><p>ТРУДНОСТИ ОСОЗНАНИЯ И РЕАЛИЗАЦИИ СЕКСУАЛЬНЫХ ПОТРЕБНОСТЕЙ</p></li>
	<li><p>НЕВКЛЮЧЕННОСТЬ В ЧЕЛОВЕЧЕСКУЮ СРЕДУ</p></li>
	<li><p>НЕЗАВИСИМОСТЬ ОТ ПОТЕРБНОСТЕЙ ПЕРВОГО Я </p></li>
	<li><p>Я-ИДЕАЛ - ИНТЕРИОРИЗИРОВАННЫЙ СГУСТОК ЧУЖИХ ТРЕБОВАНИЙ</p></li>
	<li><p>СКРЫТАЯ ДЕМОНСТРАТИВНОСТЬ</p></li>
	<li><p>СОЛО ДЛЯ СЕБЯ</p></li>
	<li><p>НЕДОСТАТОЧНАЯ ДЛЯ СВОБОДНОЙ ЖИЗНИ В ОБЩЕСТВЕ СФОРМИРОВАННОСТЬ ЧЕЛОВЕЧЕСКИХ ПОТРЕБНОСТЕЙ ДЕМОНСТРАНТА</p></li>
	<li><p>ИСКАЖЕННЫЙ ОБРАЗ СЕБЯ</p></li>
	<li><p>ЖИЗНЬ В ОКЛЕВЕТАННОМ МИРЕ</p></li>
	<li><p>МАУГЛИ И ДЕМОНСТРАНТ</p></li>
	<li><p>ВНЕ ЧЕЛОВЕЧЕСКОЙ СРЕДЫ</p></li>
	<li><p>ОТЧУЖДЕНИЕ СВОЕЙ НЕДЕМОСТРАТИВНОЙ АКТИВНОСТИ ОТ СВОЕГО ОСОЗНАННОГО Я</p></li>
	<li><p>ВЫТОРМАЖИВАЮЩИЙ ВЫБОР ДЕМОНСТРАНТА</p></li>
	<li><p>ПРОТИВ ИСКАЛЕЧИВШЕГО ЕГО МИРА</p></li>
	<li><p>ТЕ, КТО ВЫБРАЛ НАЙТИ СВОЙ СПОСОБ СКВОЗЬ НЕГО ПРОДРАТЬСЯ И ВЫПУТАТЬСЯ ИЗ ЗАПАДНИ, ВХОДЯТ ЛЮДЬМИ В ИСТОРИЮ</p></li>
</ul>

<h2>**********ВЫБОР*************</h2>
<ul>		
	<li><p>**********ВЫБОР*************</p></li>
	<li><p>рационалистическое навязывание себе решений и поведения, не сообразующихся с собственными потребностями</p></li>
	<li><p>демонстративная имитация выборов</p></li>
	<li><p>тринадцать лет ее жизни</p></li>
</ul>