<% provide(:title, 'Red') %>
<h1>February App</h1>
<h2>Философия</h2>
<h2>StaticPages#red_univer</h2>
<p>Find me in app/views/static_pages/red_univer.html.erb</p>
<p>Как устроен человек? </p>
<p>spirit anima caro</p>
<p>Душа — субтильное тело сложной композиции. Неоплатоники, затем схолиасты разделяли ее на четыре сферы: anima vegetabilis , anima animalis , anima rationalis, anima celestis (душа вегетативная, животная, рациональная, небесная). Для научно настроенных современников две первые — просто атрибуты живой (органической) материи, душа рациональная суть «убеждения и принципы», определяемые воспитанием и образованием, душа небесная — выражение из лексики священников, мистиков, романистов.</p>
<p>Фашизм - открытая террористическия диктатура наиболее реакционных, наиболее шовинистических элементов капитала. А если прикрытая, то - демократия.</p>
<p>Банки? сращивание промышленного капитала с банковским</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>