<p>Секацкий</p>

<p>Несчастное сознание является основой сознания вообще, не может изначально счастливого сознания, это фикция. Так же и здесь – некоторая доля ощущения заброшенности не в тот мир, внутренней дискомфортности – это доля человеческого в человеке. Если же она устранена, если перед нами сверхэффективный агент – мы можем ему поапплодировать даже, конечно, его место будет везде первым... 
...по большому счету, если расставить сумму обретений и потерь – потерь будет гораздо больше.</p>

<p>Хронопоэзис</p>

<p>Состояние несчастного сознания – в нем есть нечто достойное</p>

<p>Существовали исторически различные способы проживания времени, или хронопоэзисы</p>

<p>другие экзистенциальные технологии проживания времени</p>

<p>фрагменты, осколки прежних видов хронопоэзисов на маргинальной обочине</p>

<p>Должно ли быть устранено внутреннее ощущение дискомфорта, либо нам подобает с ним оставаться? Я уверен, что нам подобает с ним оставаться так же, так и с несчастным сознанием, ничего страшного.. это то,  что мы превозмогаем, но это одновременно свидетельствует одновременно о нашей субъективной человеческой мерности</p>

<p>и наоборот – если удастся это превозмочь до конца и стать преуспевающим агентом этих социальных сил – то только за счет истребления в себе</p>